<%= simple_form_for(@assessment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :identity %>
    <%= f.association :project %>
    <%= f.input :completed %>
    <%= f.input :quickness %>
    <%= f.input :quality %>
    <%= f.input :compliance %>
    <%= f.input :score %>
    <%= f.input :note %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
