<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"><%= link_to image_tag('icons/project-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), projects_path %></td>
      </tr>

    </table>
  </div>

  <div id="page-title">Assessments项目</div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Identity</th>
        <th>Project</th>


        <th>Score</th>

      </tr>
    </thead>

    <tbody>
      <% @assessments.each do |assessment| %>
        <tr>
          <td><%= assessment.identity.chinese_name %></td>
          <td><div id="bold"><%= link_to assessment.project.name, :controller => 'projects', :action => 'show', :id => assessment.project.id %></div></td>


          <td><div id="bold"><%= link_to assessment.score, assessment %></div></td>

        </tr>
      <% end %>
    </tbody>
  </table>

</div>
