<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

  <div id="page-title">New Assessment申请评估</div>


  <%= simple_form_for(@assessment) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">

      <%= f.hidden_field :identity_id, :value => current_user.identity.id %>
      <%= f.hidden_field :project_id, :value => params[:id] %>

      <%= f.input :completed, label: "Check if Completed打勾表示项目完成。" %>
      <%= f.input :quickness, label: "Quickness速度，必填。", collection: 0..5 %>
      <%= f.input :quality, label: "Quality质量，必填。", collection: 0..5 %>
      <%= f.input :compliance, label: "Compliance合规，必填。", collection: 0..5 %>

      <%= f.input :note, label: false, placeholder: "Details详细情况，必填。" %>
    </div>

    <%= f.button :button do %>
      Submit提交！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "Submit提交!" %>
    <% end %>
  <% end %>

<p>&nbsp;</p>

<div id="index-card">

  <h3>常见问题回答：</h3>

  <p>
    Q: Can I edit or delete the assessment?</br>
    A: No. So be very careful before you submit your assessment.
  </p>

  <p>
    问：咱刚刚填写的个人身份信息，可以删除吗？</br>
    答：在１小时之内，可以自由删除并且重新填写。
  </p>
  <p>
    问：咱能不能删除自己“已经验证”的个人身份信息？</br>
    答：目前暂时还没有此功能。
  </p>
  <p>
    问：个人身份信息在“已经验证”以后，咱会有哪些权限？</br>
    答：一，为加入您自己的小区创造了条件。二，您可以“关注”她他人，即使她他并不是您自己的小区里的邻居。
  </p>

  <p></p>
</div>

</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
