<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%">
          <% if current_user.identity.id == @assessment.identity_id %>
            <%= link_to image_tag('icons/trash-filled.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), @project, method: :delete, data: { confirm: 'Delete确定删除吗？' } %>
          <% end %>
        </td>

        <td width = "20%"><%= link_to image_tag('icons/project-one-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), :controller=>"projects", :action=>"show", :id=>@assessment.project.id %></td>
      </tr>

    </table>
  </div>

  <div id="page-title">Assessment</div>

  <div id="index-card">

<p>
  <strong>Identity:</strong>
  <%= @assessment.identity.chinese_name %>
</p>

<p>
  <strong>Project:</strong>
  <%= @assessment.project.name %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @assessment.completed %>
</p>

<p>
  <strong>Quickness:</strong>
  <%= @assessment.quickness %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @assessment.quality %>
</p>

<p>
  <strong>Compliance:</strong>
  <%= @assessment.compliance %>
</p>

<p>
  <strong>Score:</strong>
  <%= @assessment.score %>
</p>

<p>
  <strong>Note:</strong>
  <%= @assessment.note %>
</p>
</div>

</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
