<%= simple_form_for(@business) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :identity %>
    <%= f.input :name %>
    <%= f.input :pinyin %>
    <%= f.input :btype %>
    <%= f.input :website %>
    <%= f.input :contact %>
    <%= f.input :telephone %>
    <%= f.input :account %>
    <%= f.input :codeword %>
    <%= f.input :note %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
