<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

  <div id="page-title">关联企业Businesses</div>


<p>&nbsp;</p>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Identity</th>
      <th>Name</th>

      <th>Btype</th>
      <th>Website</th>



      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= business.identity.chinese_name %></td>
        <td>
          <% if current_user.level > 19 && current_user.identity.id == business.identity_id %>
            <div id="bold"><%= link_to business.name, business %></div>
          <% else %>
            <%= business.name %>
          <% end %>
        </td>

        <td><%= business.btype %></td>
        <td><%= business.website %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.level > 19 %>
  <div class="bottom-menu">
    <table id="full">
      <tr>
        <td width = "20%">
        </td>

        <td width = "20%">
        </td>

        <td width = "20">
            <%= link_to image_tag('icons/handshake-plus-filled.png', width: '35', height: '35', title: '设立项目', rel: 'tooltip'), new_business_path %><div id="menu-font">添加企业</div>
        </td>

        <td width = "20%">
        </td>

        <td width = "20%">
        </td>
      </tr>
    </table>
  </div>
<% end %>

</div>
