<div class="content-box">

<div>
  <table id="full">
    <tr>
      <td width = "20%">
        <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
      </td>

      <td width = "20%">

      </td>

      <td width = "20">

      </td>

      <td width = "20%"></td>

      <td width = "20%"></td>
    </tr>

  </table>
</div>

<p></p>

<div id="page-title">创建新的关联企业New Business</div>

<%= simple_form_for(@business) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :identity_id, :value => current_user.identity.id %>

    <%= f.input :name, label: false, placeholder: "Business Name企业名称，必填。" %>
    <%= f.input :pinyin, label: false, placeholder: "English Name英文名称或拼音，必填。" %>
    <%= f.input :btype, label: false, placeholder: "Business Type企业类别，必填。" %>
    <%= f.input :website, label: false, placeholder: "Website URL企业网站地址，必填。" %>
    <p></p>
    <p>以上信息可以被其他同事看见。以下信息仅自己可见．</p>
    <p></p>
    <%= f.input :contact, label: false, placeholder: "Contact Name联系人名字，必填。" %>
    <%= f.input :telephone, label: false, placeholder: "Telephone Number电话号码，必填。" %>
    <%= f.input :account, label: false, placeholder: "Account Number账号号码，必填。" %>
    <%= f.input :codeword, label: false, placeholder: "Password账号密码，必填。" %>
    <%= f.input :note, label: false, placeholder: "Details详细描述，必填。" %>
  </div>

  <%= f.button :button do %>
    Submit提交！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "Submit提交!" %>
  <% end %>
<% end %>

<p>&nbsp;</p>

<div id="index-card">

  <h3>常见问题回答：</h3>
  <p>
    问：发现填写数据错误，可以删除吗？</br>
    答：在１小时之内，可以自由删除并且重新填写。
  </p>
  <p>
    问：所有的信息都会被其他同事看见吗？</br>
    答：第一个部分的信息可以被其他同事看见。第二个部分的信息仅自己可见．
  </p>

  <p></p>
</div>

</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
