<div class="content-box">

<div>
  <table id="full">
    <tr>
      <td width = "20%">
        <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), expenses_path %><div id="menu-font">返回支出</div>
      </td>

      <td width = "20%">

      </td>

      <td width = "20">

      </td>

      <td width = "20%"></td>

      <td width = "20%"><%= link_to image_tag('icons/expense-filled.png', width: '30', height: '30', title: '费用报账', rel: 'tooltip'), expenses_path %></td>
    </tr>

  </table>
</div>

<p></p>

<div id="page-title">关联企业Business</div>

<div id="index-card">
  <p>
    <strong>Identity:</strong>
    <%= @business.identity.chinese_name %>, <%= @business.identity.user.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @business.name %>
  </p>

  <p>
    <strong>Pinyin:</strong>
    <%= @business.pinyin %>
  </p>

  <p>
    <strong>Btype:</strong>
    <%= @business.btype %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= @business.website %>
  </p>

  <p>&nbsp;</p>

  <p>
    <strong>Contact:</strong>
    <%= @business.contact %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= @business.telephone %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= @business.account %>
  </p>

  <p>
    <strong>Codeword:</strong>
    <%= @business.codeword %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= @business.note %>
  </p>
</div>

<p>&nbsp;</p>

<div id="index-card">

  <h3>常见问题回答：</h3>
  <p>
    问：发现填写数据错误，可以删除吗？</br>
    答：在１小时之内，可以自由删除并且重新填写。
  </p>
  <p>
    问：所有的信息都能够修改吗？</br>
    答：第二个部分的信息可以被修改。
  </p>

  <p></p>
</div>

<div class="bottom-menu">
  <table id="full">
    <tr>
      <td width = "20%">
      </td>

      <td width = "20%">
      </td>

      <td width = "20">

            <div class="btn-group dropup">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div><%= image_tag('icons/plus-filled.png', width: '35', height: '35', title: '更多菜单', rel: 'tooltip') %></div>

              </button>

              <div class="dropdown-menu">
                <div>
                  <%= link_to image_tag('icons/handshake-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), businesses_path %> <%= link_to 'All Businesses全部企业', businesses_path %>
                </div>
                <div>
                  <% if current_user.level > 19 && current_user.identity.id == @business.identity_id %><%= link_to image_tag('icons/forward-arrow-filled.png', width: '25', height: '25', title: '修改企业', rel: 'tooltip'), edit_business_path(@business) %> <%= link_to 'Edit business修改企业', edit_business_path(@business) %><% end %>
                </div>
                <div>
                  <% if current_user.identity.id == @business.identity_id && Time.zone.now - @business.created_at < 3600 %><%= link_to image_tag('icons/trash-filled.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), @business, method: :delete, data: { confirm: 'Are you sure to delete确定删除吗?' } %> <%= link_to 'Delete删除企业?', @business, method: :delete, data: { confirm: 'Are you sure to delete确定删除吗?' } %><% end %></td>
                  <!--1 is ONE second. 60*60 = 3600s/h, thus 3600 is ONE hour. Please change to how many days later a user can delete his identity before having a residence in production-->

                </div>

                <div>

                </div>

                <div>


                </div>

              </div>
            </div>
      </td>

      <td width = "20%"></td>

      <td width = "20%"></td>
    </tr>

  </table>
</div>

</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
