<%= simple_form_for(@interview) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :identity %>
    <%= f.input :self_starter %>
    <%= f.input :community_involvement %>
    <%= f.input :writting_skill %>
    <%= f.input :speech_skill %>
    <%= f.input :professionalism %>
    <%= f.input :computer_skill %>
    <%= f.input :smart_phone_skill %>
    <%= f.input :internet_skill %>
    <%= f.input :ruby_on_rails %>
    <%= f.input :html %>
    <%= f.input :css %>
    <%= f.input :javascript %>
    <%= f.input :note %>
    <%= f.input :passed %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
