<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%" id="image-holder">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%" id="image-holder"><%#= image_tag('icons/like-plus-filled.png', width: '30', height: '30', title: '工作中...', rel: 'tooltip') %></td>
      </tr>

    </table>
  </div>
<div id="page-title">Is Interview passed面试通过?</div>
  <p></p>

  <div id="index-card">

  <p>
    <strong>Applicant:</strong>
    <%= @interview.identity.chinese_name %>
  </p>

  <p>
    <strong>Self starter:</strong>
    <%= @interview.self_starter %>
  </p>

  <p>
    <strong>Community involvement:</strong>
    <%= @interview.community_involvement %>
  </p>

  <p>
    <strong>Writting skill:</strong>
    <%= @interview.writting_skill %>
  </p>

  <p>
    <strong>Speech skill:</strong>
    <%= @interview.speech_skill %>
  </p>

  <p>
    <strong>Professionalism:</strong>
    <%= @interview.professionalism %>
  </p>

  <p>
    <strong>Computer skill:</strong>
    <%= @interview.computer_skill %>
  </p>

  <p>
    <strong>Smart phone skill:</strong>
    <%= @interview.smart_phone_skill %>
  </p>

  <p>
    <strong>Internet skill:</strong>
    <%= @interview.internet_skill %>
  </p>

  <p>
    <strong>Ruby on rails:</strong>
    <%= @interview.ruby_on_rails %>
  </p>

  <p>
    <strong>Html:</strong>
    <%= @interview.html %>
  </p>

  <p>
    <strong>Css:</strong>
    <%= @interview.css %>
  </p>

  <p>
    <strong>Javascript:</strong>
    <%= @interview.javascript %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= @interview.note %>
  </p>
</div>

<%= simple_form_for(@interview) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">


    <%= f.input :note %>
    <%= f.input :passed %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>

  <%= f.button :button do %>
    Submit提交！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "Submit提交!" %>
  <% end %>
<% end %>

</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
