
<h1>Interviews</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>applicant</th>
      <th>Self starter</th>
      <th>Community involvement</th>
      <th>Computer skill</th>

      <th>Note</th>
      <th>Passed</th>
      <th>interviewer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interviews.each do |interview| %>
      <tr>
        <td><%= interview.identity.chinese_name %></td>
        <td><%= interview.self_starter %></td>
        <td><%= interview.community_involvement %></td>

        <td><%= interview.computer_skill %></td>

        <td><%= interview.note %></td>
        <td><%= interview.passed %></td>
        <td><%= interview.user.identity.chinese_name %></td>
        <td><%= link_to 'Show', interview %></td>
        <td><%= link_to 'Edit', edit_interview_path(interview) %></td>
        <td><%= link_to 'Destroy', interview, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interview', new_interview_path %>
