<div class="content-box">

<div>
  <table id="full">
    <tr>
      <td width = "20%">
        <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
      </td>

      <td width = "20%">

      </td>

      <td width = "20">

      </td>

      <td width = "20%"></td>

      <td width = "20%"></td>
    </tr>

  </table>
</div>


<div id="page-title">New Interview面试评分</div>

<%= simple_form_for(@interview) do |f| %>
  <%= f.error_notification %>
  <div>all option, not must.非必选</div>
  <div class="form-inputs">

    <%= f.hidden_field :identity_id, :value => params[:id] %>

    <%= f.input :self_starter, collection: 0..5 %>
    <%= f.input :community_involvement, collection: 0..5 %>
    <%= f.input :writting_skill, collection: 0..5 %>
    <%= f.input :speech_skill, collection: 0..5 %>
    <%= f.input :professionalism, collection: 0..5 %>
    <%= f.input :computer_skill, collection: 0..5 %>
    <%= f.input :smart_phone_skill, collection: 0..5 %>
    <%= f.input :internet_skill, collection: 0..5 %>
    <%= f.input :ruby_on_rails, collection: 0..5 %>
    <%= f.input :html, collection: 0..5 %>
    <%= f.input :css, collection: 0..5 %>
    <%= f.input :javascript, collection: 0..5 %>
    <%= f.input :note %>


    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>

  <%= f.button :button do %>
    Submit提交！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "Submit提交!" %>
  <% end %>
<% end %>
</div>


<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>


<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
