<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%">
          <% if @interview.user_id == current_user.id && Time.zone.now - @interview.created_at < 3600 %>
            <%= link_to image_tag('icons/trash-filled.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), @interview, method: :delete, data: { confirm: 'Delete确定删除？' } %>
          <% end %>
        </td>

        <td width = "20%"><%= link_to image_tag('icons/resume-one-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller => 'resumes', :action => 'show', :id => @interview.identity.resume.id %></td>
      </tr>

    </table>
  </div>

  <div id="page-title">Interview Result面试评分</div>

  <div id="index-card">

    <div>
      <%= time_ago_in_words(@interview.created_at) %>以前，
    </div>
  <p></p>
<p>
  <strong>Applicant:</strong>
  <%= @interview.identity.chinese_name %>
</p>

<p>
  <strong>Self starter:</strong>
  <%= @interview.self_starter %>
</p>

<p>
  <strong>Community involvement:</strong>
  <%= @interview.community_involvement %>
</p>

<p>
  <strong>Writting skill:</strong>
  <%= @interview.writting_skill %>
</p>

<p>
  <strong>Speech skill:</strong>
  <%= @interview.speech_skill %>
</p>

<p>
  <strong>Professionalism:</strong>
  <%= @interview.professionalism %>
</p>

<p>
  <strong>Computer skill:</strong>
  <%= @interview.computer_skill %>
</p>

<p>
  <strong>Smart phone skill:</strong>
  <%= @interview.smart_phone_skill %>
</p>

<p>
  <strong>Internet skill:</strong>
  <%= @interview.internet_skill %>
</p>

<p>
  <strong>Ruby on rails:</strong>
  <%= @interview.ruby_on_rails %>
</p>

<p>
  <strong>Html:</strong>
  <%= @interview.html %>
</p>

<p>
  <strong>Css:</strong>
  <%= @interview.css %>
</p>

<p>
  <strong>Javascript:</strong>
  <%= @interview.javascript %>
</p>

<p>
  <strong>Note:</strong>
  <%= @interview.note %>
</p>

<p>
  <strong>Passed:</strong>
  <%= @interview.passed %>
</p>

<p>
  <strong>created by:</strong>
  <%= @interview.user.identity.chinese_name %>
</p>
</div>


</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
