<%= simple_form_for(@background) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :identity %>
    <%= f.input :id_number %>
    <%= f.input :id_type %>
    <%= f.input :id_photo %>
    <%= f.input :political_status %>
    <%= f.input :home_ownership %>
    <%= f.input :last_employer_recommendation %>
    <%= f.input :convicted_crimes %>
    <%= f.input :lawsuits_with_employers %>
    <%= f.input :deadbeat_list %>
    <%= f.input :debt %>
    <%= f.input :handicaped %>
    <%= f.input :vow %>
    <%= f.input :explaination %>
    <%= f.input :verified %>
    <%= f.input :note %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
