<p id="notice"><%= notice %></p>

<h1>Backgrounds</h1>

<table>
  <thead>
    <tr>
      <th>Identity</th>
      <th>Id number</th>

      <th>Political status</th>
      <th>Home ownership</th>
      <th>Explaination</th>

      <th>Verified</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @backgrounds.each do |background| %>
      <tr>
        <td><%= background.identity.chinese_name %></td>
        <td><%= background.id_number %></td>

        <td><%= background.political_status %></td>
        <td><%= background.home_ownership %></td>

        <td><%= background.explaination %></td>
        <td><%= background.verified %></td>

        <td><%= link_to 'Show', background %></td>
        <td><%= link_to 'Edit', edit_background_path(background) %></td>
        <td><%= link_to 'Destroy', background, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
