<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

  <div id="page-title">背景信息New Background</div>

<%= simple_form_for(@background) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :identity_id, :value => current_user.identity.id %>
    <%#= f.hidden_field :identity_id, :value => params[:id] %>

    <%= f.input :id_type, label: false, prompt: "中国公民请选择身份证", collection: [ "ID Card身份证", "Driver License驾驶证", "Passport护照" ] %>

    <%= f.input :id_number, label: false, placeholder: "ID Number证件号码，必填。" %>


    <%= f.input :id_photo, label: 'ID photo only', accept: 'image/jpeg,image/gif,image/png' %>

    <%= f.input :political_status, label: false, prompt: "政治面貌", collection: [ "无党派", "共产党", "其它党派" ] %>

    <%= f.input :home_ownership, label: 'Home Owner业主?' %>
    <%= f.input :last_employer_recommendation, label: 'recommendation letter from previou employer有前雇主的离职信吗?' %>
    <%= f.input :convicted_crimes, label: 'any convicted crimes?曾经被法庭判为有罪吗?' %>
    <%= f.input :lawsuits_with_employers, label: 'any lawsuits vs. previous employers曾和前雇主有任何法律纠纷吗?' %>
    <%= f.input :deadbeat_list, label: 'default on payment在失信名单之上吗?' %>
    <%= f.input :debt, label: 'owe any debts other than home mortgage and car loan除房屋贷款和汽车贷款以外，还有其它贷款吗?' %>
    <%= f.input :handicaped, label: 'handicaped残障人士?' %>
    <div>我宣誓以上信息都是真实的！</div>
    <%= f.input :vow, label: 'must checked.必须打勾' %>
    <%= f.input :explaination %>

    <%= f.hidden_field :user_id, :value => current_user.id %>

  </div>

  <%= f.button :button do %>
    Submit提交！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "Submit提交!" %>
  <% end %>
<% end %>

</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>


<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>


<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
