<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%">
          <% if @background.identity_id == current_user.identity.id && Time.zone.now - @background.created_at < 3600 %>
            <%= link_to image_tag('icons/trash-filled.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), @background, method: :delete, data: { confirm: 'Delete确定删除？' } %>
          <% end %>
        </td>

        <td width = "20%"><%= link_to image_tag('icons/resume-one-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller => 'resumes', :action => 'show', :id => @background.identity.resume.id %></td>
      </tr>

    </table>
  </div>

  <div id="page-title"><%= @background.identity.chinese_name %> background</div>

  <div id="image-fit">
    <%= image_tag @background.id_photo.url if @background.id_photo? %>
  </div>

  <div id="index-card">
    <div>
      <%= time_ago_in_words(@background.created_at) %>以前，
    </div>
  <p></p>
<p>
  <strong>Id number:</strong>
  <%= @background.id_number %>
</p>

<p>
  <strong>Id type:</strong>
  <%= @background.id_type %>
</p>



<p>
  <strong>Political status:</strong>
  <%= @background.political_status %>
</p>

<p>
  <strong>Home ownership:</strong>
  <%= @background.home_ownership %>
</p>

<p>
  <strong>Last employer recommendation:</strong>
  <%= @background.last_employer_recommendation %>
</p>

<p>
  <strong>Convicted crimes:</strong>
  <%= @background.convicted_crimes %>
</p>

<p>
  <strong>Lawsuits with employers:</strong>
  <%= @background.lawsuits_with_employers %>
</p>

<p>
  <strong>Deadbeat list:</strong>
  <%= @background.deadbeat_list %>
</p>

<p>
  <strong>Debt:</strong>
  <%= @background.debt %>
</p>

<p>
  <strong>Handicaped:</strong>
  <%= @background.handicaped %>
</p>

<p>
  <strong>Vow:</strong>
  <%= @background.vow %>
</p>

<p>
  <strong>Explaination:</strong>
  <%= @background.explaination %>
</p>
<p>
  <strong>Verified:</strong>
  <%= @background.verified %>
</p>
<% if current_user.level > 79 %>
  <p>
    <strong>Note:</strong>
    <%= @background.note %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @background.user.identity.chinese_name %>
  </p>

<% else %>

<% end %>

</div>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
