<h1>Editing Participant修改参与者</h1>
<div>
  <h3>participant Name:</h3>
  <%= @participant.identity.chinese_name %>
</div>

<div>
  <h3>Project Name项目名称：</h3>

  <%= @participant.project.name %>
</div>
<p></p>

<%= simple_form_for(@participant) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%#= f.association :identity %>
    <%#= f.association :project %>
    <%= f.input :starting_date %>
    <%= f.input :ending_date %>
    <%= f.input :role %>
    <%= f.input :note %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= link_to 'Show', @participant %> |
<%= link_to 'Back', participants_path %>
