<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"><%= link_to image_tag('icons/project-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), projects_path %></td>
      </tr>

    </table>
  </div>

  <div id="page-title">All Participants全部项目参与人</div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Identity</th>
        <th>Project</th>
        <th>Starting date</th>

        <th>Role</th>

      </tr>
    </thead>

    <tbody>
      <% @participants.each do |participant| %>
        <tr>
          <td><%= participant.identity.chinese_name %></td>
          <td><div id="bold"><%= link_to participant.project.name, :controller => 'projects', :action => 'show', :id => participant.project.id %></div></td>
          <td><%= participant.starting_date %></td>

          <td><div id="bold"><%= link_to participant.role, participant %></div></td>

        </tr>
      <% end %>
    </tbody>
  </table>

</div>
