<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"><% if current_user.identity.id == @participant.identity_id or current_user.identity.id == @participant.project.identity_id %><%= link_to image_tag('icons/trash-filled.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), @participant, method: :delete, data: { confirm: 'Delete确定删除吗？' } %><% end %></td>

        <td width = "20%"><%= link_to image_tag('icons/project-one-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), :controller => 'projects', :action => 'show', :id => @participant.project_id %></td>
      </tr>

    </table>
  </div>

  <div id="page-title">Participant项目参与人</div>

  <div id="index-card">

    <p>
      <strong>Identity:</strong>
      <%= @participant.identity.chinese_name %>


    </p>

    <p>
      <strong>Project:</strong>
      <%= link_to @participant.project.name, :controller => 'projects', :action => 'show', :id => @participant.project_id %>
    </p>

    <p>
      <strong>Starting date:</strong>
      <%= @participant.starting_date %>
    </p>

    <p>
      <strong>Ending date:</strong>
      <%= @participant.ending_date %>
    </p>

    <p>
      <strong>Role:</strong>
      <%= @participant.role %>
    </p>

    <p>
      <strong>Note:</strong>
      <%= @participant.note %>
    </p>
  </div>

</div>
