<div class="content-box">
  <div id="top">
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

<div id="nav-font">
  <nav class="nav">
    <a class="nav-link" href="#动态股权">动态股权</a>
    <a class="nav-link" href="#组织架构">组织架构</a>
    <a class="nav-link" href="#工作形式">工作形式</a>
    <a class="nav-link" href="#创新未来">创新未来</a>
    <a class="nav-link" href="#合伙人简介">合伙人简介</a>
  </nav>

</div>
<div id="index-card">
  <h3><%= image_tag('cartoon-portrait.jpg', width: '35', height: '35', title: '返回', rel: 'tooltip') %> 给合伙人的公开信：</h3>
  <p>2018.8.15更新
  </p>
  <p id="main-content">1998年自从住房商品化改革以来，中国城市化进程的速度惊人．今天，业主们拥有私有住家单元面积的比例，纵观中国上下五千年的历史，恐怕也是史无前例的．
  </p>

  <p id="main-content">打破了地域限制的小区业主和居民们，远离了自己老家独特而熟悉的风土人情，住进了一个陌生的新建小区里．咱们应该如何才能与同样来自于五湖四海的小区邻居们和谐共处呢？咱们应该如何协同合作来主导小区的管理问题呢？如何处理好与小区物业管理公司之间的关系呢？ <物业管理条例>赋予了小区业主们有召开业主大会, 决定小区事务的权利, 但把一个小区里的成百上千的业主们集中在一个地点, 一个时间里开会, 这在现实中如何办到呢?
  </p>

  <p id="main-content">以上这几个问题每天都在困扰着小区里的业主和居民们，而且正在变得越来越尖锐和棘手．市场上的手机应用数量繁多, 竟然没有一款是从小区业主和居民们的视角, 来维护咱们小区家园的美好! 这正是创业者们的机会!
  </p>

  <p id="main-content">“ＸＸＸ信息技术公司”正是以生产解决以上这几个棘手问题的互联网工具－－“小区事务”入手，最终打造一款定位于陌陌和微信之间的＂半熟人＂的交流, 交往和管理的社交手机应用．咱们的梦想是区区相连互助, 维护家园小区的美好!
  </p>

  <p id="main-content">如果公司的合伙人们在一起足够地努力，运气也足够地好，“小区事务”手机应用也许在3到7年之间，能够拥有1亿到3亿用户，可以使“ＸＸＸＸ信息技术公司”在纳斯达克上，拥有200亿到600亿人民币的市值．（请参照陌陌和微博的用户数和在纳斯达克上的市值.）
  </p>

  <p id="main-content">当然，千里之行始于足下，这一切都要起始于合伙人们应该如何创立这家公司上. “ＸＸＸＸ信息技术公司”是一家新颖的互联网公司，有"非常吓人"的动态股权分配方案，组织架构和工作形式．
  </p>

  <h3><%= image_tag('icons/sunflower.png', width: '25', height: '25', title: '返回') %> 首先，公司是一家由无数的合伙人自愿地，自由地组合而形成的．公司里没有传统意义上的老板，每一位合伙人都是公司的主人．</h3>
  <p></p>

  <p id="main-content">每一位合伙人可以用现金投资和劳务投资进入公司，由现金和劳务贡献的多寡来决定每一位合伙人的股权百分比. 股权百分比月月变动，是动态的，而非静态的，是公开的，而非封闭的，是透明的，而非隐藏的．这样，公司的合伙人不仅拥有主观能动性，而且工作人员数目灵活多变，团队工作能力不断地优化，几乎可以适应任何的疑难项目，可以对抗任何的融资周期和经济周期．
  </p>

  <h3><%= image_tag('icons/tulip.png', width: '25', height: '25', title: '返回') %> 第二，每位合伙人工作的地点和时间都不是固定的，而是移动的和弹性的．</h3>
  <p></p>

  <p id="main-content">每一位合伙人用自己的手机移动地办公，可以是在自己的家里，也可以是在附近的咖啡厅里, 又或者是在租赁的"共享办公室"里等等；您不必固定地早九晚五，只要弹性地每天工作8小时，每周40小时就好. 公司更看重工作和生活的平衡, 不会要求任何人加班．当然，您必须调动自己的主观能动性，自动自发地为咱们共同拥有的公司工作，否则其他合伙人会选择不再和您合伙，并且希望您还是选择一家，老板叫干啥就干啥，早九晚五的，每天拥挤在上下班道路上的传统公司比较适合您．
  </p>

  <h3><%= image_tag('icons/blue-flower.png', width: '25', height: '25', title: '返回') %> 第三，公司内部管理是公开的, 透明的, 而不像传统公司那样是封闭的, 隐藏的.</h3>
  <p></p>

  <p id="main-content">不仅仅动态股权分配方案是公开透明的，公司的财务状况也是公开透明的．管理层甚至会像上市公司一样，每三个月就给合伙人发布一次财务报告．这样，每一位合伙人都会明白，什么时候应该放弃一部分的，甚至是全部的现金工资，让它们转化为股权，以便公司度过艰难的时期；什么时候公司的收入足以给每一位合伙人发放20%, 50%, 70%, 或者100%的现金工资；什么时候公司可以根据股权百分比，适当地让每一位合伙人分享利润红利了.
  </p>

  <h3><%= image_tag('icons/rose.png', width: '25', height: '25', title: '返回') %> 第四, 充分地激发每一位合伙人创造创新能力.</h3>
  <p></p>

  <p id="main-content">公司的第一个手机应用产品，定位在维护家园的美好和记录小区的历史, 以此来精制互联网应用工具，以方便小区业主和居民们行使对管理小区的主导权. 咱们不是一家物业管理公司, 甚至都不太像一家传统意义上的互联网社交媒体公司. 咱们也许是在创造一个全新的品类, 正在进入一个从没有人到过的陌生地域去开疆辟土，这不正是互联网创业激动人心的地方吗?
  </p>

  <p id="main-content">所以每一位合伙人必须深度地思考公司的业务, 在原有的工作上和项目上大胆创新试错, 甚至跨界发展. 管理层更看重每个项目完成以后的结果, 而非过程. 虽然在法律和道德上不能犯错, 但公司容许在工作上犯错, 因为越想创新, 就越有可能在工作中犯错, 这是可以理解和被原谅的.
  </p>

  <p id="main-content">以上的四点, 您必须要用电邮地址登记了以后, 就可以读到非常详细的介绍.
  </p>

  <p id="main-content">笔者不才, 已经为公司设计好了3到7年的战略规划，期待和您这位合伙人一起来实现公司的愿景!
  </p>

  <p>
  </p>
  <p>海客加州，邓丹力
  </p>


  <div><a href="#top"><%= image_tag('icons/scroll-up.png', width: '40', height: '40', title: '上', class: 'top-arrow') %></a></div>
</div>

<div id="index-card">
  <h3 id="动态股权">一，动态股权分配方案</h3>
    <p id="main-content">在这里，请先容许笔者给大家讲一个宋江和他的小伙伴们是如何创立一家叫做＂水泊梁山信息技术公司＂的故事．

    <p id="main-content">宋江在创始这家新公司之前, 曾经在SB公司工作, 拿一份固定的, 每月 30,000元人民币的固定＂现金工资＂. 因为宋江放弃了这份固定的工作, 而冒险开始创业, 那这每月放弃的 30,000元人民币＂现金工资＂, 就是宋江创业的"机会成本损失"(OPPORTUNITY COST). 宋江坚信自己正在新公司里创造的价值一定会远远高于, 他正在放弃的这每月 30,000元人民币＂现金工资＂, 不然, 宋江就不会创业了. 因此, 宋江每为新公司多工作一个月, 他的＂劳务出资＂就会至少上升 30,000元人民币. 然而新公司在早期，包括筹备期还没有任何的收入, 也发不出＂现金工资＂.　宋江在其他公司可以领到, 而没有领到的这 30,000元＂现金工资＂就是宋江对新公司的＂劳务出资＂.

    <p><%= image_tag('DSD.jpg', width: '305', height: '1610', title: '动态股权') %></a>
    <p><%= image_tag('icons/download.png', width: '25', height: '25', title: '动态股权计算表格') %> 请点击下载<a href="https://oasis.sandstorm.io/shared/Jz_OSSWQrw3bm_nf6NkPr8Eh1mVUEMhBu7KEwb4VvVT" target="_blank">DSD-windows.xlsx</a>，这样您自己也可以用这个简单公式，计算出各种各样的可能性了．</p>

    <p id="main-content">请先查看表格中的 A 到 F 纵列. 宋江有两个身份, 宋江(一)是公司创始人, 并且积极参与公司事务，是公司的工作人员，而宋江(二)是公司的种子轮投资人. 宋江(一)在公司筹备期三个月里的总＂劳务出资＂是 3 X 30,000 = 90,000元(D4). 虽然宋江(一)在公司的筹备期, 用辛勤工作所创造出来的新公司价值是不确定的, 但宋江(一)认为他创造了至少比原来固定工资多2倍的价值, 不然他还不如呆在ＳＢ公司拿固定的　30,000元＂现金工资＂了. 因此, 2 X 90,000 = 180,000元(E4) 就是宋江(一)为新公司在筹备期, 用＂劳务出资＂的方式所创造出来的价值.

    <p id="main-content">晁盖认识宋江, 也非常了解宋江, 并且相信宋江的能力和人品. 晁盖既不为新公司工作, 也不参与任何的公司事务, 只是用 60,000元人民币＂现金出资＂新公司. 种子现金对一家初创公司来讲是非常重要的, 要不然都无法登记注册. 晁盖的出资价值用现金的4倍来计算, 4 X 60,000 = 240,000元(E6).

    <p id="main-content">作为种子轮投资人的宋江(二)同样也用 60,000元人民币＂现金出资＂新公司, 4 X 60,000 = 240,000元(E5).

    <p id="main-content">最后, 660,000元(E13)就是在筹备期公司的总价值, 它是 E 纵列所有数值相加之总和.

    <p id="main-content">那宋江(一), 宋江(二)和晁盖分别应该拥有公司的股权是多少百分比呢? 宋江(一)是 27.27%(F4) = 180,000(E4) / 660,000(F13) X 100%. 用同样的这个简单公式, 宋江(二)是 36.36%(F5), 而晁盖也是 36.36%(F6).

    <p id="main-content">请再参看表格中的 H 到 S 纵列. 那程序员, 鲁智深在第四月作为合伙人加入了新公司, 并为新公司无偿工作了3个月之后, 他的股权应该是多少百分比呢? 而行政, 孙二娘在第六月作为合伙人加入了新公司, 并也为新公司无偿工作了4个月之后, 她的股权应该是多少百分比呢? 运用同样这个简单公式，在第九月之后，可以计算出鲁智深的股权百分比是 10.17% (P8), 而孙二娘的股权百分比是 3.39% (P9).

    <p id="main-content">因此，不管未来的合伙人何时加入公司, 何时退出公司, 也无论她他们＂劳务出资＂和＂现金出资＂的多寡, 咱们都能用同样的简单公式计算出她他们在公司的股权百分比. 咱们甚至能够很容易地和其他公司合作, 用股权百分比来换取她他们的无偿服务, 以缓解公司的现金短缺压力.

    <p id="main-content">在这个创业团队完成了九个月的工作后, 专业天使投资人, 卢俊义认为新公司已经颇有雏形, 很有发展潜力, 愿意＂现金出资＂ 2,000,000(S11)以获取公司 10%(R11)的股权. 在卢俊义入资以后, 虽然其他合伙人的股权百分比有所稀释, 从筹备期的100%降到了90%，但她他们的出资价值却得到了很大的提升, 公司总价值也已经上升到 20,000,000元了(S13).

    <p id="main-content">晁盖在筹备期的 60,000元(C6), 36.36% (F6)＂现金出资＂, 已经具有了 3,661,017元 (S6), 18.31% (R6) 的价值. 晁盖在入资更少的情况下，他的股权百分比甚至还超过了卢俊义的股权百分比的．这对晁盖来讲既是应得的，也是公平的, 因为在新公司八字还没有一撇的情况下, 他就胆敢对宋江的创业出资 60,000元人民币现金, 是冒了很大风险的. 风险和收益是成正比的, 风险越大, 收益越高. 鲁智深虽然在第七月已经离开了公司, 皈依了佛门，不再参与公司事务, 已经变成一个纯粹的投资人了, 但他在早期对公司的贡献是不可泯灭的. 鲁智深仅仅放弃了 60,000元人民币＂现金工资＂, 就获得了 1,830,508元 (S8)的出资价值和 9.15% (R8)的股权百分比.

    <p id="main-content">这时，已经皈依了佛门3个月的鲁智深大喜，提出要大块吃肉，大碗喝酒，大砣称金银．还好，宋江心里明白，挑战才刚刚开始，必须要找到更多的小伙伴们加盟合伙才能成大事......故事尚未结束，下回书还需要您的加盟来分解．

    <p id="main-content">故事讲到这儿，您可能不禁想问，这个动态股权计算方式难道真的是宋江的发明? 非也！它来源自一位美国的成功连续创业者, MBA和芝加哥大学教授, Mike Moyer 在2012出版的一本书, <a href="https://www.amazon.cn/dp/B00MAZOI06/ref=sr_1_1?ie=UTF8&qid=1533789343&sr=8-1&keywords=%E5%88%87%E8%9B%8B%E7%B3%95" target="_blank">"Slicing Pie"(切蛋糕)</a>. 他在2016年还出了<a href="https://www.amazon.com/Slicing-Pie-Handbook-Perfectly-Bootstrapped/dp/0692584625/ref=sr_1_2?ie=UTF8&qid=1533788097&sr=8-2&keywords=slicing+pie" target="_blank">最新的版本</a>．当然，咱们公司在借鉴此书里的基本动态股权计算方式的同时，也会适当地根据中国国情，加入一些调整的因素．

    <p id="main-content">每一位合伙人的"传统工资"和她他的能力是成正比的, 也和她他的项目完成质量是成正比的. "传统工资"就是传统意义上的工资所得．"传统工资"是由＂劳务出资＂和＂现金工资＂构成．＂劳务出资＂是您没有拿到手而转化为股权的一部分"传统工资"，而＂现金工资＂是真正拿到手的一部分"传统工资"．"传统工资"既可增加也可降低，每三个月调整一次. 在公司成熟以后，人数足够多的合伙人也可以给管理层和人力资源部的合伙人调整"传统工资".

    <p id="main-content">只有公开透明, 每一位合伙人才会认为自己所占的股权百分比是公平合理的. 没错, 您猜对了! 公司CEO"传统工资"的增加和减少, 最终由您这位合伙人来决定.

    <div><a href="#top"><%= image_tag('icons/scroll-up.png', width: '40', height: '40', title: '上', class: 'top-arrow') %></a></div>
</div>

<div id="index-card">
  <h3 id="工作形式">二，工作形式</h3>

    <p id="main-content">合伙人工作的地点和时间都不是固定的，而是移动的和弹性的．每一位合伙人用自己的手机移动地办公，可以是在自己的家里，也可以是在附近的咖啡厅里等等；您不必固定地早九晚五，只要弹性地每天工作8小时，每周40小时就好. 公司更看重工作和生活的平衡, 如果没有紧急突发的情况, 不会要求任何人加班．当然，您必须调动自己的主观能动性，自动自发地为我们共同拥有的公司工作，否则其他合伙人会选择不再和您合伙，并且希望您还是选择一家，老板叫干啥就干啥，早九晚五的，每天拥挤在上下班道路上的传统公司比较适合您．

    <p id="main-content">根据法律要求, 公司不得不把自己的工作地址登记在某一个城市的地理地址上, 但这并是说, 这个城市就是公司的中心城市, 这个地址就是公司的中央办公室. 哪咱们公司的中央办公室到底在哪里呢? 它就在您, 这位合伙人办公的地方, 它就在您居住的小区里, 最靠近咱们用户的地方----商业竞争战斗的最前线. 当然, 在财经条件允许的情况下, 公司会在某些城市租赁一些"共享办公室", 在每个月的某些天, 给同城的合伙人们一起面对面办公的机会. 这有利于团队建设和提高士气. 但"共享办公室"是辅助性的, 而您在小区的办公室才是主导性的. 另外, 公司也会一年安排几次旅行办公, 把所有的合伙人都聚集到一个幽静之处, 一起办公, 增加认识和了解.

    <p id="main-content">咱们这种打破了地域限制的工作方式, 有利于公司在全国, 乃至于在全世界招募人才. 如果您越来越忙, 每周40小时已经不够用了, 公司人力资源部会比较容易地招募到新的合伙人来帮助您, 分担您的工作, 所以公司不需要您太加班加点地工作. 生活和工作同样地重要!

    <p id="main-content">除了技术人员以外, 您必须每天为自己所居住的小区工作1小时, 服务咱们的业主和居民用户, 在您小区里发生的一切都是公司的生意机会.

    <p id="main-content">您每天的工作时间, 60%要花在自己的主要职位上, 15%在跨界发展的同时, 请教和帮助其他合伙人, 15%服务自己的小区, 10%的时间用来深度思考.

    <div><a href="#top"><%= image_tag('icons/scroll-up.png', width: '40', height: '40', title: '上', class: 'top-arrow') %></a></div>
</div>

<div id="index-card">

  <h3 id="组织架构">三，组织架构</h3>

  <p id="main-content">公司组织形式呈扁平化和网络化, 而非垂直化和集权化．在削减传统科层制 (Hierarchy) 的同时，公司会采用具有中国特色的<a href="https://baike.baidu.com/item/%E5%90%88%E5%BC%84%E5%88%B6/20147890?fr=aladdin" target="_blank">合弄制（Holacracy）</a>来进行内部管理，而实际上，是自我管理．当然，在公司的早期阶段，会有一位以慈悲为怀的临时独裁CEO来领导大家．

  <p id="main-content">公司管理层和人力资源部在接纳一位新的合伙人以后, 会把她他分配到一个长期的传统职能部门里, 同时她他也可以兼职在一个或者多个特种工作＂圈＂里工作. 每个特种工作＂圈＂是由一个或者多个合伙人, 根据公司业务的需要, 自由自愿地组建而成的. 这样公司不仅能够迅速弥补原有的漏洞，也能及时调整到新出现的商机和业务上.　

  <p id="main-content">公司的财务状况也是公开透明的．管理层甚至会像上市公司一样，每三个月就给合伙人发布一次财务报告．每一位合伙人都会明白，什么时候应该放弃一部分的，甚至是全部的现金工资，让它们转化为股权，以便公司度过艰难的时期；什么时候公司的收入足以给每一位合伙人发放20%, 50%, 70%, 或者100%的现金工资；什么时候公司可以根据股权百分比，适当地让每一位合伙人分享利润红利了.

  <p id="main-content">当然, 如果是涉及到对其他公司可能的收购和兼并, 管理层在没有达成合约之前, 是要保密的，以保护对方公司的隐私权.

  <div><a href="#top"><%= image_tag('icons/scroll-up.png', width: '40', height: '40', title: '上', class: 'top-arrow') %></a></div>
</div>

<div id="index-card">

  <h3 id="创新未来">四, 创造创新的未来</h3>

  <p id="main-content">公司的第一个手机应用产品，定位在维护家园的美好和记录小区的历史, 以此来精制互联网应用工具，以方便小区业主和居民们行使对管理小区的主导权. 咱们不是一家物业管理公司, 甚至都不太像一家传统意义上的互联网社交媒体公司. 咱们也许是在创造一个全新的品类, 正在进入一个从没有人到过的陌生地域去开疆辟土，这不正是互联网创业激动人心的地方吗?

  <p id="main-content">所以每一位合伙人必须深度地思考公司的业务, 在原有的工作上和项目上大胆创新试错, 甚至跨界发展. 管理层更看重每个项目完成以后的结果, 而非过程. 虽然在法律和道德上不能犯错, 但公司容许在工作上犯错, 因为越想创新, 就越有可能在工作中犯错, 这是可以理解和被原谅的.

  <p id="main-content">读到这里，您也许会问，咱们究竟要创新一个怎样的未来，打造一个怎样的企业，这有没有成功的先例？

  <p>＂世界确实有这样一家企业：它是一家制造上千种产品的跨国公司；它实现了年均27.5%的增长；它是IBM、通用汽车、福特、西门子借鉴的榜样；它是人们最愿意加入的组织。在这个企业里，你的工资自己定；你想什么时候上班什么时候去；你可以在会议室举办生日聚会；你可以为了思考和创新给自己放个假；你可以自由地查看公司的账簿；你可以利用公司的资助自立门户；多年来员工离职率一直在1%以下．您可能会以为，这肯定是一家来自发达国家的企业：美国，欧洲，日本？实际上，它却来自巴西，一个典型的发展中国家。它就是里卡多·塞姆勒 (Ricardo Semler)的<a href="https://www.amazon.cn/dp/B01E39V4Q2/ref=sr_1_1?s=amazon-global-store&ie=UTF8&qid=1534003408&sr=8-1&keywords=%E9%87%8C%E5%8D%A1%E5%A4%9A%C2%B7%E5%A1%9E%E5%A7%86%E5%8B%92+%28Ricardo+Semler%29" target="_blank">塞式企业（Semco SA）</a>＂

  <div><a href="#top"><%= image_tag('icons/scroll-up.png', width: '40', height: '40', title: '上', class: 'top-arrow') %></a></div>
</div>

<p>&nbsp;</p>

<div id="index-card">
  <h3 id="合伙人简介">公司合伙人简介:</h3>

  <div id="instroduction">
    <table style="width:100%">

      <tr>
        <td style="width:50%"><%= image_tag('haimati-200.png', width: '80', height: '80', title: '肖像', class: "img-circle", id: "right") %></td>
        <td id="introduction" style="width:50%">
          邓丹力（Denny Deng)</br>
          公司创始人</br>
          351906071@qq.com</br>
          15002338190</br>
        </td>

      </tr>
    </table>

  </div>

  <p></p>
  <div>

    <p id="partners">邓丹力设计和开发了“XXXXX”1.0版本和公司内部管理手机应用, 是主要架构师，程序员, 也兼职临时CEO的角色<p/>

    <p id="partners">出生于重庆，17岁时随父母移民美国，在加利福利亚州的高中学校读过高三。在90年代以经济管理学士学位，毕业于<a href="https://baike.baidu.com/item/%E5%8A%A0%E5%88%A9%E7%A6%8F%E5%B0%BC%E4%BA%9A%E5%A4%A7%E5%AD%A6%E6%88%B4%E7%BB%B4%E6%96%AF%E5%88%86%E6%A0%A1/6564147?fromtitle=%E5%8A%A0%E5%B7%9E%E5%A4%A7%E5%AD%A6%E6%88%B4%E7%BB%B4%E6%96%AF%E5%88%86%E6%A0%A1&fromid=5383260&fr=aladdin" target="_blank">加州大学，戴维斯校区．</a>母校被誉为“公立常春藤”盟校，属于Tier-1(最高级别) 全美最顶尖公立大学之一。著名的经济学家，<a href="https://baike.baidu.com/item/%E8%AE%B8%E5%B0%8F%E5%B9%B4/7316764?fr=aladdin" target="_blank">许小年先生</a>是在母校获得的经济学博士学位．

    <p id="partners">在美国第三大手机通讯公司<a href="https://baike.baidu.com/item/Sprint/4705050" target="_blank">SPRINT</a>做过顾客服务，也批发销售过电脑零件。通过自学互联网开发技术后，帮助<a href="http://wiki.mbalib.com/wiki/%E7%BE%8E%E5%9B%BD%E6%9C%97%E8%AE%AF%E7%A7%91%E6%8A%80%E5%85%AC%E5%8F%B8" target="_blank">美国朗讯科技</a>，<a href="https://baike.baidu.com/item/%E6%83%A0%E6%99%AE/275141?fromtitle=%E6%83%A0%E6%99%AE%E5%85%AC%E5%8F%B8&fromid=2626554&fr=aladdin" target="_blank">惠普公司</a>, <a href="http://www.synergyibank.com/About/who.html?lang=zh-cn" target="_blank">协纵策略管理集团</a>设计开发过网站，也帮助<a href="http://www.kguowai.com/html/9455.html" target="_blank">ZipRealty Inc.</a>买卖过房地产。在美国的创新中心，加利福利亚州的硅谷地区，总共有20多年的学习，生活，和工作经历。

    <p id="partners">虽然在中国只有一个工作经历，但以业主的身份长期居住生活在重庆也有9年之久，并旅行到过中国内地20多个城市和地区，包括北京，上海，深圳，广州等等，对中国社会的历史，民情，文化，和政治经济都非常熟悉了解。

    <div><a href="#top"><%= image_tag('icons/scroll-up.png', width: '40', height: '40', title: '上', class: 'top-arrow') %></a></div>
  </div>
</div>
<p></p>
<p></p>

</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
