<div class="content-box">

  <div id="page-title">Home家园，一个温馨的地方</div>
<p></p>

<div id="index-card">
  <div>

    <% if current_user.identity.nil? %>
    <div>
      请填写个人信息 <%= link_to image_tag('icons/forward-arrow-filled.png', width: '30', height: '30', title: '个人信息', rel: 'tooltip'), :controller=>"identities", :action=>"new", :id=>current_user.id %>
    </div>
      <% else %>

      <div>
        请查看个人信息 <%= link_to image_tag('icons/ID-one-filled.png', width: '30', height: '30', title: '个人信息', rel: 'tooltip'), :controller=>"identities", :action=>"show", :id=>current_user.identity.id %>
      </div>
      <p></p>
        <% if current_user.identity.resume.nil? %>
          <div>
            请上传自己的简历 <%= link_to image_tag('icons/forward-arrow-filled.png', width: '30', height: '30', title: '个人信息', rel: 'tooltip'), :controller=>"resumes", :action=>"new", :id=>current_user.identity.id %>
          </div>
        <% else %>
          <div>
            请查看自己的简历 <%= link_to image_tag('icons/resume-one-filled.png', width: '30', height: '30', title: '个人信息', rel: 'tooltip'), :controller=>"resumes", :action=>"show", :id=>current_user.identity.resume.id %>
          </div>


      <p>&nbsp;</p>
      <div>
        <%= image_tag('haimati-200.png', width: '35', height: '35', title: '肖像', class: "img-circle") %> 公司创始人的公开信 <%= link_to image_tag('icons/letter-filled.png', width: '25', height: '25', title: '公开信'), 'home/letter' %>
      </div>

        <p></p>
          <% if current_user.level > 19 %>
            <div class="bottom-menu">
              <table id="full">
                <tr>
                  <td width = "20%">
                  </td>

                  <td width = "20%">
                  </td>

                  <td width = "20">

                        <div class="btn-group dropup">
                          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div><%= image_tag('icons/logo.png', width: '35', height: '35', title: '更多菜单', rel: 'tooltip') %></div>

                          </button>

                          <div class="dropdown-menu">
                            <div>
                              <%#= link_to image_tag('icons/forum-filled.png', width: '32', height: '32', title: '小区论坛', rel: 'tooltip'), forums_path %> <%#= link_to "录取工资", :controller=>"offers", :action=>"show", :id=>current_user.identity.offer.id %>
                            </div>
                            <div>
                              <!--
                              <% if current_user.identity.contributions.empty? %>
                                <%= link_to image_tag('icons/contribution-plus-filled.png', width: '30', height: '30', title: '股权贡献', rel: 'tooltip'), :controller=>"contributions", :action=>"new", :id=>current_user.identity.id %> <%= link_to "添加贡献", :controller=>"contributions", :action=>"new", :id=>current_user.identity.id %>
                              <% else %>
                                <%= link_to image_tag('icons/contribution-filled.png', width: '30', height: '30', title: '股权贡献', rel: 'tooltip'), contributions_path %> <%= link_to "股权贡献", contributions_path %>
                              <% end %>
                            -->
                              <%= link_to image_tag('icons/contribution-filled.png', width: '30', height: '30', title: '股权贡献', rel: 'tooltip'), contributions_path %> <%= link_to "股权贡献", contributions_path %>
                            </div>

                            <div>
                              <%= link_to image_tag('icons/expense-filled.png', width: '30', height: '30', title: '费用报账', rel: 'tooltip'), expenses_path %> <%= link_to "费用报账", expenses_path %>
                            </div>
                            <div>
                              <%= link_to image_tag('icons/project-filled.png', width: '30', height: '30', title: '项目管理', rel: 'tooltip'), projects_path %> <%= link_to "项目管理", projects_path %>
                            </div>

                            <div>
                              <%= link_to image_tag('icons/ID-filled.png', width: '30', height: '30', title: '合伙同事', rel: 'tooltip'), identities_path %> <%= link_to "合伙同事", identities_path %>
                            </div>
                          </div>
                        </div>

                  </td>

                  <td width = "20%"></td>

                  <td width = "20%" id="image-holder"></td>
                </tr>

              </table>
            </div>

          <% end %><!--if current_user.level > 19 ends-->

      <% end %>

  <% end %>
</div>



</div><!--content-box ends-->

  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>

  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
