<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :identity %>
    <%= f.input :name %>
    <%= f.input :priority %>
    <%= f.input :starting_date %>
    <%= f.input :due_date %>
    <%= f.input :teammate_number %>
    <%= f.input :estimated_budget %>
    <%= f.input :description %>
    <%= f.input :approved %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
