<div class="content-box">

  <div id="page-title">Projects全部项目</div>
  <p>&nbsp;</p>

  <table class="table table-striped">
    <thead>
      <tr>

        <th>Identity</th>

        <th>Name</th>
        <th>Pri</th>
        <th>Starting</th>

        <th>#</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.identity.chinese_name %></td>

          <td><div id="bold"><%= link_to project.name, project %></div></td>
          <td><%= project.priority %></td>
          <td><%= project.starting_date %></td>

          <td><%= project.teammate_number %></td>

          <td>
            <% if project.approved == true %>
              <%= image_tag('icons/yes-red-outline.png', width: '30', height: '30', title: '更多菜单', rel: 'tooltip') %>
            <% elsif project.approved == false %>
              <%= image_tag('icons/no-red-outline.png', width: '30', height: '30', title: '更多菜单', rel: 'tooltip') %>
            <% else %>
              <%= image_tag('icons/question-mark-red-outline.png', width: '30', height: '30', title: '更多菜单', rel: 'tooltip') %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if current_user.level > 19 %>
    <div class="bottom-menu">
      <table id="full">
        <tr>
          <td width = "20%">
          </td>

          <td width = "20%">
          </td>

          <td width = "20">
              <%= link_to image_tag('icons/project-plus-filled.png', width: '35', height: '35', title: '设立项目', rel: 'tooltip'), :controller => 'projects', :action => 'new', :id => current_user.identity.id %><div id="menu-font">设立项目</div>
          </td>

          <td width = "20%">
          </td>

          <td width = "20%">
          </td>
        </tr>
      </table>
    </div>
  <% end %>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
