<div class="content-box">

<div>
  <table id="full">
    <tr>
      <td width = "20%">
        <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
      </td>

      <td width = "20%">

      </td>

      <td width = "20">

      </td>

      <td width = "20%"></td>

      <td width = "20%"></td>
    </tr>

  </table>
</div>


<div id="page-title">设立项目New Project</div>
<p></p>
<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :identity_id, :value => current_user.identity.id %>
    <%= f.hidden_field :user_id, :value => '1' %>

    <%= f.input :name, label: false, placeholder: "Project Name项目名称，必填。" %>
    <%= f.input :priority, label: "Priority优先顺序，必填。" %>
    <%= f.input :starting_date, label: "Starting Date开始日期，必填。" %>
    <%= f.input :due_date, label: "Due Date结束日期，必填。" %>
    <%= f.input :teammate_number, label: "Teammate Number团队人数，必填。" %>
    <%= f.input :estimated_budget, label: "Estimated Budget预算数目，必填。" %>

    <%= f.input :description, label: false, placeholder: "Project Description项目详情，必填。" %>

  </div>

  <%= f.button :button do %>
    Submit提交！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "Submit提交!" %>
  <% end %>
<% end %>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>


<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
