<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

  <div id="page-title"><%= @project.name %>项目</div>

  <div id="index-card">
    <table>
      <tr>
        <td width="20%">
          <%= image_tag @project.identity.resume.photo.url, class: "img-circle", width: "30" if @project.identity.resume.photo? %>
        </td>
        <td width="20%">
          <%= link_to @project.identity.chinese_name, :controller => 'identities', :action => 'show', :id => @project.identity.id %>
        </td>
        <td width="20%">Creator项目发起人</td>
        <td width="20%"></td>
        <td width="20%">
          <% if @project.approved == true %>
            <%= image_tag('icons/yes-red-outline.png', width: '30', height: '30', title: '更多菜单', rel: 'tooltip') %>
          <% elsif @project.approved == false %>
            <%= image_tag('icons/no-red-outline.png', width: '30', height: '30', title: '更多菜单', rel: 'tooltip') %>
          <% else %>
            <%= image_tag('icons/question-mark-red-outline.png', width: '30', height: '30', title: '更多菜单', rel: 'tooltip') %>
          <% end %>
        </td>
      </tr>
    </table>

  <p>
    <strong>Priority:</strong>
    <%= @project.priority %>
  </p>

  <p>
    <strong>Starting date:</strong>
    <%= @project.starting_date %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= @project.due_date %>
  </p>

  <p>
    <strong>Teammate number:</strong>
    <%= @project.teammate_number %>
  </p>
  <p>
    <strong>Estimated budget:</strong>
    <%= @project.estimated_budget %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @project.description %>
  </p>


  </div>

  <p>&nbsp;</p>

  <div>

    <% if @project.participants.empty? %>
      <div>No participant yet项目尚未有参与人.</div>

    <% else %>
      <div id="page-title">Participant项目参与人</div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Identity</th>

              <th>Starting date</th>
              <th>Ending date</th>
              <th>Role</th>

            </tr>
          </thead>

          <tbody>
          <% @project.participants.each do |participant| %>
            <tr>
              <td><span id="bold"><%= link_to participant.identity.chinese_name, :controller => 'identities', :action => 'show', :id => participant.identity.id %></div></td>

              <td><%= participant.starting_date %></td>
              <td><%= participant.ending_date %></td>
              <td><div id="bold"><%= link_to participant.role, participant %></div></td>

            </tr>
          <% end %>
        </tbody>
      </table>

    <% end %>
  </div>
<p></p>
    <% if @project.assessment.nil? %>
      <div>No assessment yet项目尚未得到评估．</div>
    <% else %>
      <div id="index-card">
        <div id="page-title">Assessment Result评估结果</div>
        <p></p>
        <div><%= @project.assessment.identity.chinese_name %></div>
        <p></p>
        <div>Quickness速度: <%= @project.assessment.quickness %></div>
        <div>Quality质量: <%= @project.assessment.quality %></div>
        <div>Compliance合规:<%= @project.assessment.compliance %></div>
        <div id="bold">Average平均:<%= @project.assessment.score %></div>
      </div>
    <% end %>

  <div class="bottom-menu">
    <table id="full">
      <tr>
        <td width = "20%">
        </td>

        <td width = "20%">
        </td>

        <td width = "20">

              <div class="btn-group dropup">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div><%= image_tag('icons/plus-filled.png', width: '35', height: '35', title: '更多菜单', rel: 'tooltip') %></div>

                </button>

                <div class="dropdown-menu">
                  <div>
                    <%= link_to image_tag('icons/project-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), projects_path %> <%=link_to 'All Projects全部项目', projects_path %>
                  </div>
                  <div>
                    <% if @project.assessment.nil? && current_user.level > 89 && @project.approved == true %>
                      <%= link_to image_tag('icons/assessment-plus-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller => 'assessments', :action => 'new', :id => @project.id %> <%=link_to 'Assessment评估项目', :controller => 'assessments', :action => 'new', :id => @project.id %>
                    <% elsif @project.assessment %>
                      <%= link_to image_tag('icons/assessment-one-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller => 'assessments', :action => 'show', :id => @project.assessment.id %> <%= link_to 'Assessment Result评估结果', :controller => 'assessments', :action => 'show', :id => @project.assessment.id %>
                    <% end %>
                  </div>
                  <div>

                    <% if @project.approved == true && current_user.level > 19 && @project.assessment.nil? %>

                        <%= link_to image_tag('icons/forward-arrow-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller=>"participants", :action=>"new", :id=>@project.id %> <%= link_to 'Participate参与项目？', :controller=>"participants", :action=>"new", :id=>@project.id %>
                    <% end %>

                  </div>

                  <div>
                    <% if current_user.level == 99 && @project.approved != true %><%= link_to image_tag('icons/forward-arrow-filled.png', width: '25', height: '25', title: '修改', rel: 'tooltip'), edit_project_path(@project) %> <%= link_to 'Approve审批项目?', edit_project_path(@project) %><% end %>
                  </div>

                  <div>

                    <% if @project.approved != true && current_user.identity.id == @project.identity_id %><%= link_to image_tag('icons/trash-filled.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), @project, method: :delete, data: { confirm: '确定删除吗？' } %> Delete删除?<% end %>
                  </div>

                </div>
              </div>
        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>
  <p>&nbsp;</p>

  <div id="index-card">

    <h3>常见问题回答：</h3>
    <p>
      问：发现填写数据错误，可以删除吗？</br>
      答：在１小时之内，可以自由删除并且重新填写。
    </p>
    <p>
      问：所有的信息都会被其他同事看见吗？</br>
      答：第一个部分的信息可以被其他同事看见。第二个部分的信息仅自己可见．
    </p>

    <p></p>
  </div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
