<%= simple_form_for(@enrollment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :identity %>
    <%= f.input :mobile_number %>
    <%= f.input :payment_method %>
    <%= f.input :payment_account %>
    <%= f.input :emergency_contact %>
    <%= f.input :relationship %>
    <%= f.input :mobile %>
    <%= f.input :approved %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
