<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

  <div id="page-title">Editing Enrollment验证入职信息</div>

  <div id="index-card">


    <div><%= @enrollment.identity.chinese_name %></div>
    <p>
      <strong>Mobile number:</strong>
      <%= @enrollment.mobile_number %>
    </p>

    <p>
      <strong>Payment method:</strong>
      <%= @enrollment.payment_method %>
    </p>

    <p>
      <strong>Payment account:</strong>
      <%= @enrollment.payment_account %>
    </p>

    <p>
      <strong>Emergency contact:</strong>
      <%= @enrollment.emergency_contact %>
    </p>

    <p>
      <strong>Relationship:</strong>
      <%= @enrollment.relationship %>
    </p>

    <p>
      <strong>Mobile:</strong>
      <%= @enrollment.mobile %>
    </p>
  </div>

<%= simple_form_for(@enrollment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :approved, label: "Approved验证通过。" %>
  </div>

  <%= f.button :button do %>
    Submit提交！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "Submit提交!" %>
  <% end %>
<% end %>

</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
