

<h1>Enrollments</h1>

<table>
  <thead>
    <tr>
      <th>Identity</th>
      <th>Mobile number</th>
      <th>Payment method</th>
      <th>Payment account</th>
      <th>Emergency contact</th>
      <th>Relationship</th>
      <th>Mobile</th>
      <th>Approved</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enrollments.each do |enrollment| %>
      <tr>
        <td><%= enrollment.identity.chinese_name %></td>
        <td><%= enrollment.mobile_number %></td>
        <td><%= enrollment.payment_method %></td>
        <td><%= enrollment.payment_account %></td>
        <td><%= enrollment.emergency_contact %></td>
        <td><%= enrollment.relationship %></td>
        <td><%= enrollment.mobile %></td>
        <td><%= enrollment.approved %></td>
        <td><%= link_to 'Show', enrollment %></td>
        <td><%= link_to 'Edit', edit_enrollment_path(enrollment) %></td>
        <td><%= link_to 'Destroy', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enrollment', new_enrollment_path %>
