<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

  <div id="page-title">New Enrollment入职信息</div>

<%= simple_form_for(@enrollment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :identity_id, :value => current_user.identity.id %>
    <%= f.input :mobile_number, label: false, placeholder: "Your mobile Number您的手机号码，必填。" %>
    <%= f.input :payment_method, label: false, placeholder: "Payment Method工资支付方法，必填。" %>
    <%= f.input :payment_account, label: false, placeholder: "Payment Account工资支付账号，必填。" %>
    <%= f.input :emergency_contact, label: false, placeholder: "Emergency Contact紧急联络人，必填。" %>
    <%= f.input :relationship, label: false, placeholder: "Relationship与她他的关系，必填。" %>
    <%= f.input :mobile, label: false, placeholder: "Her/His Mobile Number她他的手机号码，必填。" %>

  </div>

  <%= f.button :button do %>
    Submit提交！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "Submit提交!" %>
  <% end %>
<% end %>

</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
