<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"><%= link_to image_tag('icons/resume-one-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), :controller => 'resumes', :action => 'show', :id => @enrollment.identity.resume.id %></td>
      </tr>

    </table>
  </div>

  <div id="page-title">入职信息</div>

  <div id="index-card">


<p>
  <strong>Identity:</strong>
  <%= @enrollment.identity.chinese_name %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @enrollment.mobile_number %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @enrollment.payment_method %>
</p>

<p>
  <strong>Payment account:</strong>
  <%= @enrollment.payment_account %>
</p>

<p>
  <strong>Emergency contact:</strong>
  <%= @enrollment.emergency_contact %>
</p>

<p>
  <strong>Relationship:</strong>
  <%= @enrollment.relationship %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @enrollment.mobile %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @enrollment.approved %>
</p>

</div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
