<%= simple_form_for(@contribution) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :identity %>
    <%= f.input :year %>
    <%= f.input :month %>
    <%= f.input :cutoff_day %>
    <%= f.input :cash_investment %>
    <%= f.input :salary_amount %>
    <%= f.input :contributing_percentage %>
    <%= f.input :labor_investment %>
    <%= f.input :paying_cash %>
    <%= f.input :note %>
    <%= f.input :bonus %>
    <%= f.input :approved %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
