<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          </div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%">

        <%= link_to image_tag('icons/contribution-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), contributions_path %><div id="menu-font">全部贡献</div></td>
      </tr>

    </table>
  </div>

<div id="index-card">

  <div>Individual Cash Contribution个人现金：<br>
    <%= image_tag('icons/dollar.png', width: '20', height: '20', title: '更多菜单', rel: 'tooltip') %><%= @ind_cash_investment_sum %>
  </div>
  <div>Individual Labor Contribution个人劳务：</br>
    <%= image_tag('icons/dollar.png', width: '20', height: '20', title: '更多菜单', rel: 'tooltip') %><%= @ind_labor_investment_sum %>
  </div>

  <div>Total Contributions总共贡献：</br>
    <%= image_tag('icons/dollar.png', width: '20', height: '20', title: '更多菜单', rel: 'tooltip') %><%= @ind_contribution_value %>
  </div>
  <div>Stock Percentage占股百分比：</br>
    <%= @stock_percentage %>
  </div>
</div>

<p>&nbsp;</p>
<% if @contributions.empty? %>
<div>You do not have any contributions yet您还没有贡献.</div>

<% else %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Identity</th>
      <th>Y-M</th>


      <th>Cash</th>

      <th>Labor</th>

      <th></th>

    </tr>
  </thead>

  <tbody>
    <% @contributions.each do |contribution| %>
      <tr>
        <td><%= contribution.identity.chinese_name %></td>
        <td><%= contribution.year %>-<%= contribution.month %></td>

        <td><span id="bold"><%= link_to contribution.cash_investment, contribution %></div></td>

        <td><span id="bold"><%= link_to contribution.labor_investment, contribution %></div></td>

        <td>
          <% if contribution.approved == true %>
            <%= image_tag('icons/yes-red-outline.png', width: '30', height: '30', title: '更多菜单', rel: 'tooltip') %>
          <% elsif contribution.approved == false %>
            <%= image_tag('icons/no-red-outline.png', width: '30', height: '30', title: '更多菜单', rel: 'tooltip') %>
          <% else %>
            <%= image_tag('icons/question-mark-red-outline.png', width: '30', height: '30', title: '更多菜单', rel: 'tooltip') %>
          <% end %>
        </td>
        <!--
        <td><%= link_to 'Show', contribution %></td>

        <td><%#= link_to 'Edit', edit_contribution_path(contribution) %></td>
        <td><% if contribution.approved == false %><%= link_to 'Destroy', contribution, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
      -->
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

  <div class="bottom-menu">
    <table id="full">
      <tr>
        <td width = "20%">

        </td>

        <td width = "20%">

        </td>

        <td width = "20">

            <%= link_to image_tag('icons/contribution-plus-filled.png', width: '35', height: '35', title: '添加', rel: 'tooltip'), :controller => 'contributions', :action => 'new', :id => current_user.identity.id %><div id="menu-font">添加贡献</div>

        </td>

        <td width = "20%">

        </td>

        <td width = "20%">

        </td>
      </tr>

    </table>
  </div>


</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
