<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">

        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%">
          <%= link_to image_tag('icons/contribution-one-filled.png', width: '35', height: '35', title: '添加', rel: 'tooltip'), :controller => 'contributions', :action => 'index_individual', :id => current_user.identity.id %><div id="menu-font">个人贡献</div>
        </td>
      </tr>

    </table>
  </div>

<p></p>

<div id="page-title">Contributions股权贡献</div>

<p></p>

<div id="index-card">

  <div>Cash Contribution现金贡献：</br>
    <%= image_tag('icons/dollar.png', width: '20', height: '20', title: '更多菜单', rel: 'tooltip') %><%= @cash_investment_sum %>
  </div>
  <div>Labor Contribution劳务贡献：</br>
    <%= image_tag('icons/dollar.png', width: '20', height: '20', title: '更多菜单', rel: 'tooltip') %><%= @labor_investment_sum %>
  </div>
  <div>Total Contribution总贡献：</br>
    <%= image_tag('icons/dollar.png', width: '20', height: '20', title: '更多菜单', rel: 'tooltip') %><%= @contribution_value %>
  </div>
</div>
  <p>&nbsp;</p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Identity</th>
        <th>Y-M</th>

        <th>Cash</th>

        <th>Labor</th>

        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @contributions.each do |contribution| %>
        <tr>
          <td><%= contribution.identity.chinese_name %></td>
          <td><%= contribution.year %>-<%= contribution.month %></td>


          <td><span id="bold"><%= link_to contribution.cash_investment, contribution %></span></td>

          <td><span id="bold"><%= link_to contribution.labor_investment, contribution %></span</td>

          <td>
            <% if contribution.approved == true %>
              <%= image_tag('icons/yes-red-outline.png', width: '30', height: '30', title: '更多菜单', rel: 'tooltip') %>
            <% elsif contribution.approved == false %>
              <%= image_tag('icons/no-red-outline.png', width: '30', height: '30', title: '更多菜单', rel: 'tooltip') %>
            <% else %>
              <%= image_tag('icons/question-mark-red-outline.png', width: '30', height: '30', title: '更多菜单', rel: 'tooltip') %>
            <% end %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>


  <div class="bottom-menu">
    <table id="full">
      <tr>
        <td width = "20%">
        </td>

        <td width = "20%">
        </td>

        <td width = "20">
            <%= link_to image_tag('icons/contribution-plus-filled.png', width: '35', height: '35', title: '设立项目', rel: 'tooltip'), :controller=>"contributions", :action=>"new", :id=>current_user.identity.id %><div id="menu-font">添加贡献</div>
        </td>

        <td width = "20%">
        </td>

        <td width = "20%">
        </td>
      </tr>
    </table>
  </div>

</div>
