<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

  <div id="page-title">New Contribution申报贡献</div>
<p>&nbsp;</p>
  <%= simple_form_for(@contribution) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.hidden_field :identity_id, :value => current_user.identity.id %>
      <%= f.hidden_field :user_id, :value => '1' %>

      <%= f.input :year, label: 'Year年份' %>
      <%= f.input :month, label: 'Month月份', collection: 1..12 %>
      <%= f.input :cutoff_day, label: 'Cutoff Date截止日期', collection: 1..31 %>
      <%= f.input :cash_investment, label: 'Cash Investment in Dollars美元现金投资' %>
      <%= f.input :salary_amount, label: 'Salary Amount in Dollars美元应得工资，必填。' %>
      <%= f.input :contributing_percentage, label: 'Contributing Percentage贡献百分比' %>

      <%= f.input :note, label: false, placeholder: "Details详情描述，必填。" %>

    </div>

    <%= f.button :button do %>
      Submit提交！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "Submit提交!" %>
    <% end %>
  <% end %>


</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
