<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

  <div id="page-title">Contribution股权贡献</div>

  <div id="index-card">
    <div><%= time_ago_in_words(@contribution.created_at) %>以前，</div>
    <p></p>
    <div>
      <%= image_tag @contribution.identity.resume.photo.url, class: "img-circle", width: "30" if @contribution.identity.resume.photo? %><%= @contribution.identity.chinese_name %>
    </div>
    <p></p>
    <p>
      <strong>Year:</strong>
      <%= @contribution.year %>
    </p>

    <p>
      <strong>Month:</strong>
      <%= @contribution.month %>
    </p>

    <p>
      <strong>Cutoff day:</strong>
      <%= @contribution.cutoff_day %>
    </p>

    <p>
      <strong>Cash investment:</strong>
      <%= @contribution.cash_investment %>
    </p>

    <p>
      <strong>Salary amount:</strong>
      <%= @contribution.salary_amount %>
    </p>

    <p>
      <strong>Contributing percentage:</strong>
      <%= @contribution.contributing_percentage %>
    </p>

    <p>
      <strong>Labor investment:</strong>
      <%= @contribution.labor_investment %>
    </p>

    <p>
      <strong>Paying cash:</strong>
      <%= @contribution.paying_cash %>
    </p>

    <p>
      <strong>Note:</strong>
      <%= @contribution.note %>
    </p>

    <p>
      <strong>Bonus:</strong>
      <%= @contribution.bonus %>
    </p>

    <p>
      <strong>Approved:</strong>
      <%= @contribution.approved %>
    </p>

  </div><!--index-card ends-->

<p>&nbsp;</p>


<div id="index-card">

  <h3>常见问题回答：</h3>
  <p>
    问：发现填写数据错误，可以删除吗？</br>
    答：在１小时之内，可以自由删除并且重新填写。
  </p>
  <p>
    问：所有的信息都能够修改吗？</br>
    答：第二个部分的信息可以被修改。
  </p>

  <p></p>
</div>

<div class="bottom-menu">
  <table id="full">
    <tr>
      <td width = "20%">
      </td>

      <td width = "20%">
      </td>

      <td width = "20">

            <div class="btn-group dropup">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div><%= image_tag('icons/plus-filled.png', width: '35', height: '35', title: '更多菜单', rel: 'tooltip') %></div>

              </button>

              <div class="dropdown-menu">
                <div>
                  <%= link_to image_tag('icons/contribution-one-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller=>"contributions", :action=>"index_individual", :id=>@contribution.identity.id %> <%= link_to @contribution.identity.chinese_name, :controller=>"contributions", :action=>"index_individual", :id=>@contribution.identity.id %>
                </div>
                <div>
                  <%= link_to image_tag('icons/contribution-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), contributions_path %>  All Contributions全部贡献
                </div>
                <div>
                  <% if current_user.level > 98 && @contribution.approved != true %>
                    <%= link_to image_tag('icons/forward-arrow-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller => 'contributions', :action => 'edit', :id => @contribution.id %> Approve审批贡献
                  <% end %>
                </div>
                <div>
                  <% if @contribution.approved != true && current_user.identity.id == @contribution.identity_id %>
                    <%= link_to image_tag('icons/trash-filled.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), @contribution, method: :delete, data: { confirm: 'Delete确定删除?' } %><%= link_to 'Delete确定删除?', @contribution, method: :delete, data: { confirm: 'Delete确定删除?' } %>
                  <% end %>
                </div>

                <div>

                </div>

                <div>

                </div>

              </div>
            </div>
      </td>

      <td width = "20%"></td>

      <td width = "20%"></td>
    </tr>

  </table>
</div>
<p>&nbsp;</p>
</div><!--content-box ends-->
