<%= simple_form_for(@identity) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :chinese_name %>
    <%= f.input :pinyin_name %>
    <%= f.input :sex %>
    <%= f.input :mobile_number %>
    <%= f.input :c_name %>
    <%= f.input :province %>
    <%= f.input :city %>
    <%= f.input :district %>
    <%= f.input :community %>
    <%= f.input :address %>
    <%= f.input :random_code %>
    <%= f.input :resume %>
    <%= f.input :vow %>
    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
