<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

<div id="page-title">Editing Identity</div>

  <div id="index-card">
    <p>
      <strong>User:</strong>
      <%= @identity.user.email %>
    </p>

    <p>
      <strong>Chinese name:</strong>
      <%= @identity.chinese_name %>
    </p>
  </div>

<%= simple_form_for(@identity) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :mobile_number, label: "Mobile Number手机号码，必填。" %>

    <%= f.input :status, label: false, prompt: "人员状态，必选！", collection: [ "fired公司辞退", "quit自己辞职", "expiration合同到期", "unverified尚未验证", "verified已经验证", "investor投资人", "part-time-partner兼职合伙人", "invest-part-time-partner投资兼职合伙人", "full-time-partner全职合伙人", "invest-full-time-partner投资全职合伙人", "department-leader部门部长", "human-resource-department人力资源部", "management-department管理部" ] %>
  </div>

  <%= f.button :button do %>
    Submit提交！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "Submit提交!" %>
  <% end %>
<% end %>

</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
