<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>
<p></p>

<h1>个人信息Identities</h1>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>日期</th>
        <th>名字</th>
        <th>状态</th>
        <th>已经完成?</th>
        <th>权限</th>

      </tr>
    </thead>

    <tbody>
      <% @identities.each do |identity| %>
        <tr>

          <td><%= identity.updated_at.strftime("%Y-%m-%d") %></td>
          <td><span id="bold"><%= link_to identity.chinese_name, identity %></div></td>

          <% if identity.user.level == 15 && identity.status == 'unverified尚未验证'%>
            <td id="black">

          <% elsif identity.user.level == 20 && identity.status == 'investor投资人'  %>
            <td id="black">

          <% elsif identity.user.level == 30 && identity.status == 'part-time-partner兼职合伙人'  %>
            <td id="black">

          <% elsif identity.user.level == 40 && identity.status == 'invest-part-time-partner投资兼职合伙人'  %>
            <td id="black">

          <% elsif identity.user.level == 50 && identity.status == 'full-time-partner全职合伙人'  %>
            <td id="black">

          <% elsif identity.user.level == 60 && identity.status == 'invest-full-time-partner投资全职合伙人' %>
            <td id="black">

          <% else %>
            <td id="red">

          <% end %>
            <%= identity.status %>
          </td>

            <% if identity.resume.nil? %>
              <td>没有简历</td>
            <% elsif identity.resume && identity.status == 'unverified尚未验证' %>
              <td>有简历</td>
            <% elsif identity.resume && identity.status == 'verified已经验证' %>
              <td>1/7</td>

            <% else %>
              <td></td>
            <% end %>
          <td><%= identity.user.level %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>

</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
