<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

  <div id="page-title">New Identity填写身份信息</div>

<%= simple_form_for(@identity) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div>You must fill all below以下都为必填项</div>
    <%= f.hidden_field :user_id, :value => current_user.id %>

    <%= f.input :chinese_name, label: false, placeholder: "LastnameFirstname，ZhuGeLiang诸葛亮" %>
    <%= f.input :sex, label: false, prompt: "Sex性别？", collection: [ "Female女", "Male男" ] %>

    <%= f.input :mobile_number, label: false, placeholder: "Mobile telephone number手机号码" %>
    <%= f.input :c_name, label: false, placeholder: "Country name if other than China" %>
    <%= f.input :province, label: false, placeholder: "province某某省" %>
    <%= f.input :city, label: false, placeholder: "City某某市" %>
    <%= f.input :district, label: false, placeholder: "District某某区" %>
    <%= f.input :community, label: false, placeholder: "Neighborhood小区名称" %>
    <%= f.input :address, label: false, placeholder: "Address地理地址" %>
    <%= f.input :zipcode, label: false, placeholder: "Portal Code邮编号码" %>

    <%= f.input :birth_date, label: '生日Birthdate', as: :date, start_year: Date.today.year - 50, end_year: Date.today.year - 18, order: [:year, :month, :day] %>

  </div>

  <%= f.button :button do %>
    Submit提交！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "Submit提交!" %>
  <% end %>
<% end %>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
