<div class="content-box">

  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%">
          <% if @identity.id == current_user.identity.id && Time.zone.now - @identity.created_at < 3600 %>
            <%= link_to image_tag('icons/trash-filled.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), @identity, method: :delete, data: { confirm: 'Delete确定删除？' } %>
          <% end %>
        </td>

        <td width = "20%">
          <% if @identity.resume.nil? %>
          <% else %>
            <%= link_to image_tag('icons/resume-one-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller => 'resumes', :action => 'show', :id => @identity.resume.id %>
          <% end %>
        </td>
      </tr>

    </table>
  </div>

<div id="page-title">Personal Information个人信息</div>

<p></p>

<div id = "index-card">
  <div>
    <%= time_ago_in_words(@identity.created_at) %>以前，
  </div>
<p></p>
  <div>


    <% if @identity.resume.nil?%>

    <% else %>
      <%= image_tag @identity.resume.photo.url, width: '90', height: '90' if @identity.resume.photo? %>
    <% end %>
    <%= @identity.chinese_name %>, <%= @identity.sex %>
  </div>
    <% if @identity.user.level > 89 %>
      <%= @identity.user.email %>

    <% end %>
    <p>

      <%= @identity.mobile_number %>
    </p>

    <p>

    <%= @identity.birth_date %>
    </p>

    <p>

      <%= @identity.c_name %>
    </p>
    <div><%= @identity.province %><%= @identity.city %><%= @identity.district %></div>

    <% if current_user.level > 79 or current_user.identity.id == @identity.id %>
      <div>

        <%= @identity.community %>小区
      </div>

      <div>
          <%= @identity.address %>
      </div>
      <div>
          <%= @identity.zipcode %>
      </div>
    <% end %>
<p></p>　
    <div>

      <%= @identity.status %>
    </div>
    <div>

      安全系数： <%= @identity.user.level %>
    </div>


  </div><!--index-card ends-->

  <% if @identity.offer.nil? %>
  <% elsif @identity.offer.accepted != true %>
  <% else %>
    <div id="index-card">
      <div><%= @identity.offer.role_name %>, <%= @identity.offer.team %></div>
      <div><%= @identity.offer.salary_type %>, <%= @identity.offer.salary_amount %></div>
      <div><%= @identity.offer.major_duty %></div>
    </div>
  <% end %>

<p>&nbsp;</p>　

<div class="bottom-menu">
  <table id="full">
    <tr>
      <td width = "20%">
      </td>

      <td width = "20%">
      </td>

      <td width = "20">

            <div class="btn-group dropup">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div><%= image_tag('icons/plus-filled.png', width: '35', height: '35', title: '更多菜单', rel: 'tooltip') %></div>

              </button>

              <div class="dropdown-menu">

                <div>
                  <% if current_user.identity.resume.nil? && current_user.id == @identity.user_id %>
                    <%= link_to image_tag('icons/forward-arrow-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller=>"resumes", :action=>"new", :id=>current_user.identity.id %> <%= link_to 'Submit Resume上传简历', :controller=>"resumes", :action=>"new", :id=>current_user.identity.id %>

                  <% elsif @identity.resume.nil? %>
                    <span id="image-holder"><%= image_tag'icons/resume-one-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip' %> 没有简历</span>

                  <% else %>
                    <%= link_to image_tag('icons/resume-one-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller=>"resumes", :action=>"show", :id=>@identity.resume.id %> <%= link_to @identity.chinese_name + 'Resume简历', :controller=>"resumes", :action=>"show", :id=>@identity.resume.id %>
                  <% end %>
                </div>


                <div>

                  <% if current_user.identity.id == @identity.id && (Time.zone.now - @identity.created_at)/60 < 60 && @identity.status != 'unverified尚未验' %>
                    <%= link_to image_tag('icons/trash-filled.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), @identity, method: :delete, data: { confirm: 'Delete确定删除吗？' } %> <%= link_to 'Delete删除此贴?', @identity, method: :delete, data: { confirm: 'Delete确定删除吗？' } %>
                  <% end %>
                </div>
<!--
                <div>
                  <% if current_user.level > 19 %>
                    <%= link_to image_tag('icons/ID-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), identities_path %> <%= link_to 'All Partners合伙同事', identities_path %>
                  <% end %>
                </div>
-->
              </div>
            </div>

      </td>

      <td width = "20%"></td>

      <td width = "20%"></td>
    </tr>

  </table>
</div>


</div><!--content-box ends-->

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
