<div class="content-box">

  <div id="page-title">Log in登入</div>


  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, required: false, autofocus: true, label: false, placeholder: "email电子邮箱" %>
      <%= f.input :password, required: false, label: false, placeholder: "Password密码" %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <%= f.button :button do %>
      Submit提交！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "Submit提交!" %>
    <% end %>
  <% end %>

  <p></p>

  <%= render "devise/shared/links" %>

  <div class="bottom-menu">
    <table id="full">
      <tr>
        <td width = "20%">
        </td>

        <td width = "20%">
        </td>

        <td width = "20">

              <div class="btn-group dropup">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div>
                    <%= image_tag('icons/logo.png', width: '35', height: '35', title: '更多菜单', rel: 'tooltip') %>
                  </div>

                </button>

                <div class="dropdown-menu">

                  <div>
                    <%= link_to image_tag('icons/headset-filled.png', width: '30', height: '30', title: '登录帮助', rel: 'tooltip'), home_help_url %> <%= link_to "登录帮助", home_help_url %>
                  </div>

                  <div>
                    <%= link_to image_tag('icons/news-filled.png', width: '30', height: '30', title: '新闻通知', rel: 'tooltip'), home_news_url %> <%= link_to "新闻通知", home_news_url %>
                  </div>
                  <div>
                    <%= link_to image_tag('icons/letter-filled.png', width: '30', height: '30', title: '合伙人的信', rel: 'tooltip'), home_letter_short_url %> <%= link_to "合伙人的信", home_letter_url %>
                  </div>

                </div><!--"dropdown-menu" ends -->
              </div><!--"btn-group dropup" ends -->

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div><!--"bottom-menu" ends -->

<p>&nbsp;</p>
<!--
  <div id="nav-font">
    <nav class="nav">
      <a class="nav-link" href="#1">DSDS</a></br>

      <a class="nav-link" href="#2">公司模版</a></br>
      <a class="nav-link" href="#3">合伙人简介</a>
    </nav>

  </div> -->



<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>


<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
