<%= simple_form_for(@offer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.association :identity %>
    <%= f.input :role_name %>
    <%= f.input :major_duty %>
    <%= f.input :team %>
    <%= f.input :starting_date %>
    <%= f.input :salary_type %>
    <%= f.input :salary_amount %>
    <%= f.input :offer_letter %>
    <%= f.input :accepted %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
