<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

  <div id="page-title">Editing Offer接受录取</div>

  <div id="index-card">
<p>
  <strong>Identity:</strong>
  <%= @offer.identity.chinese_name %>
</p>
<p>
  <strong>Accepted:</strong>
  <%= @offer.accepted %>
</p>
<p>
  <strong>Role name:</strong>
  <%= @offer.role_name %>
</p>

<p>
  <strong>Major duty:</strong>
  <%= @offer.major_duty %>
</p>

<p>
  <strong>Team:</strong>
  <%= @offer.team %>
</p>

<p>
  <strong>Starting date:</strong>
  <%= @offer.starting_date %>
</p>

<p>
  <strong>Salary type:</strong>
  <%= @offer.salary_type %>
</p>

<p>
  <strong>Salary amount:</strong>
  <%= @offer.salary_amount %>
</p>

<p>
  <strong>Offer letter:</strong>
  <%= @offer.offer_letter %>
</p>

<p>
  <strong>offered by:</strong>
  <%= @offer.user.identity.chinese_name %>
</p>
</div>
<p>&nbsp;</p>

<%= simple_form_for(@offer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :starting_date %>

    <%= f.input :accepted %>
  </div>

  <%= f.button :button do %>
    Submit提交！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "Submit提交!" %>
  <% end %>
<% end %>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
