<p>
  <%= link_to image_tag('icons/root.png', width: '25', height: '25', title: '回家', rel: 'tooltip'), root_url %>
</p>
<p></p>

<h1>Offers</h1>


<% if current_user.level == 15 %>
  <table>
    <thead>
      <tr>

        <th>Identity</th>


        <th>Starting date</th>
        <th>Salary type</th>


        <th>Accepted</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @offers.each do |offer| %>
        <tr>

          <td><%= offer.identity.chinese_name %></td>


          <td><%= offer.starting_date %></td>
          <td><%= offer.salary_type %></td>


          <td><%= offer.accepted %></td>
          <td><% if offer.identity_id == current_user.identity.id %><%= link_to 'Show', offer %><% end %></td>


        </tr>
      <% end %>
    </tbody>
  </table>

<% elsif current_user.level > 79 %>
  <table>
    <thead>
      <tr>

        <th>Identity</th>
        <th>Role name</th>
        <th>Major duty</th>
        <th>Team</th>
        <th>Starting date</th>
        <th>Salary type</th>


        <th>Accepted</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @offers.each do |offer| %>
        <tr>

          <td><%= offer.identity.chinese_name %></td>
          <td><%= offer.role_name %></td>
          <td><%= offer.major_duty %></td>
          <td><%= offer.team %></td>
          <td><%= offer.starting_date %></td>
          <td><%= offer.salary_type %></td>


          <td><%= offer.accepted %></td>
          <td><%= link_to 'Show', offer %></td>


        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p>No access</p>

<% end %>
<br>
