<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

  <div id="page-title">New Offer录取通知</div>


<%= simple_form_for(@offer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :identity_id, :value => params[:id] %>

    <%= f.input :role_name, label: false, placeholder: "Role Name角色职称，必填。" %>
    <%= f.input :major_duty, label: false, placeholder: "Major Duty主要职责，必填。" %>
    <%= f.input :team, label: false, prompt: "团队名称，必选！", collection: [ "Administration行政", "Advertising广告", "Finance财经", "Human Resources人力资源", "IT技术", "Investment投资", "Marketing运营", "Management管理" ] %>

    <%= f.input :starting_date, label: 'Starting Date开工日期' %>

    <%= f.input :salary_type, label: false, prompt: "工资类别，必选！", collection: [ "Monthly月薪", "Hourly时薪", "No Salary无薪", "Weekly周薪" ] %>
    <%= f.input :salary_amount, label: false, placeholder: "Salary Amount工资数目，必填。" %>
    <%= f.input :offer_letter, label: false, placeholder: "Offer Letter录取信，必填。" %>

  </div>

  <%= f.button :button do %>
    Submit提交！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "Submit提交!" %>
  <% end %>
<% end %>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
