<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"><% if current_user.level > 79 && current_user.identity.id != @offer.identity_id %><%= link_to image_tag('icons/trash-filled.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), @offer, method: :delete, data: { confirm: 'Delete确定删除？' } %><% end %></td>

        <td width = "20%"><%= link_to image_tag('icons/resume-one-filled.png', width: '25', height: '25', title: '自己简历', rel: 'tooltip'), :controller => 'resumes', :action => 'show', :id => @offer.identity.resume.id %></td>
      </tr>

    </table>
  </div>

  <div id="page-title">Offer录取通知</div>


<div id="index-card">
<p>
  <strong>Identity:</strong>
  <%= @offer.identity.chinese_name %>
</p>
<p>
  <strong>Accepted:</strong>
  <%= @offer.accepted %>
</p>
<p>
  <strong>Role name:</strong>
  <%= @offer.role_name %>
</p>

<p>
  <strong>Major duty:</strong>
  <%= @offer.major_duty %>
</p>

<p>
  <strong>Team:</strong>
  <%= @offer.team %>
</p>

<p>
  <strong>Starting date:</strong>
  <%= @offer.starting_date %>
</p>

<p>
  <strong>Salary type:</strong>
  <%= @offer.salary_type %>
</p>

<p>
  <strong>Salary amount:</strong>
  <%= @offer.salary_amount %>
</p>

<p>
  <strong>Offer letter:</strong>
  <%= @offer.offer_letter %>
</p>



<p>
  <strong>offered by:</strong>
  <%= @offer.user.identity.chinese_name %>
</p>
</div>

</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
