<%= simple_form_for(@reference) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :identity %>
    <%= f.input :fullname %>
    <%= f.input :mobile %>
    <%= f.input :relationship %>
    <%= f.input :company_name %>
    <%= f.input :company_url %>
    <%= f.input :position %>
    <%= f.input :verified %>
    <%= f.input :note %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
