<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

  <div id="page-title">Editing Reference验证介绍人</div>

  <div id="index-card">

    <p>
      <strong>Identity:</strong>
      <%= @reference.identity.chinese_name %>
    </p>

    <p>
      <strong>Fullname:</strong>
      <%= @reference.fullname %>
    </p>

    <p>
      <strong>Mobile:</strong>
      <%= @reference.mobile %>
    </p>

    <p>
      <strong>Relationship:</strong>
      <%= @reference.relationship %>
    </p>

    <p>
      <strong>Company name:</strong>
      <%= @reference.company_name %>
    </p>

    <p>
      <strong>Company url:</strong>
      <%= @reference.company_url %>
    </p>

    <p>
      <strong>Position:</strong>
      <%= @reference.position %>
    </p>
  </div>

<p>&nbsp;</p>

<div>
  <%= simple_form_for(@reference) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">

      <%= f.input :verified, label: 'Verified Checked打勾验证' %>
      <%= f.input :note, label: false, placeholder: "Details详情，必填。" %>
      <%= f.hidden_field :user_id, :value => current_user.id %>

    </div>

    <%= f.button :button do %>
      Submit提交！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "Submit提交!" %>
    <% end %>
  <% end %>
</div>

</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
