<p id="notice"><%= notice %></p>

<h1>References</h1>

<table>
  <thead>
    <tr>
      <th>Identity</th>
      <th>Fullname</th>
      <th>Mobile</th>
      <th>Relationship</th>

      <th>Verified</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @references.each do |reference| %>
      <tr>
        <td><%= reference.identity.chinese_name %></td>
        <td><%= reference.fullname %></td>
        <td><%= reference.mobile %></td>
        <td><%= reference.relationship %></td>

        <td><%= reference.verified %></td>


        <td><%= link_to 'Show', reference %></td>
        <td><%= link_to 'Edit', edit_reference_path(reference) %></td>
        <td><%= link_to 'Destroy', reference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reference', new_reference_path %>
