<div class="content-box">

<div>
  <table id="full">
    <tr>
      <td width = "20%">
        <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
      </td>

      <td width = "20%">

      </td>

      <td width = "20">

      </td>

      <td width = "20%"></td>

      <td width = "20%"></td>
    </tr>

  </table>
</div>


<div id="page-title">New Reference介绍人</div>

<%= simple_form_for(@reference) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :identity_id, :value => params[:id] %>
    <%= f.input :fullname, label: false, placeholder: "Full Name全名，必填。" %>
    <%= f.input :mobile, label: false, placeholder: "Mobile Phone Number？手机号码，必填。" %>
    <%= f.input :relationship, label: false, placeholder: "Is she/he your她他是您的？，必填。" %>
    <%= f.input :company_name, label: false, placeholder: "Company Name公司名称，必填。" %>
    <%= f.input :company_url, label: false, placeholder: "Company URL公司网络地址，必填。" %>
    <%= f.input :position, label: false, placeholder: "Professional Position专业职位，必填。" %>

    <%= f.input :note %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>

  <%= f.button :button do %>
    Submit提交！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "Submit提交!" %>
  <% end %>
<% end %>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
