<div class="content-box">

<div>
  <table id="full">
    <tr>
      <td width = "20%">
        <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
      </td>

      <td width = "20%">

      </td>

      <td width = "20">

      </td>

      <td width = "20%">
        <% if @reference.identity_id == current_user.identity.id && Time.zone.now - @reference.created_at < 3600 %>
          <%= link_to image_tag('icons/trash-filled.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), @reference, method: :delete, data: { confirm: 'Delete确定删除？' } %>
        <% end %>
      </td>

      <td width = "20%"><%= link_to image_tag('icons/resume-one-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller => 'resumes', :action => 'show', :id => @reference.identity.resume.id %></td>
    </tr>

  </table>
</div>


<div id="page-title">reference介绍人</div>
<p>&nbsp;</p>

<div id="index-card">
  <div>
    <%= time_ago_in_words(@reference.created_at) %>以前，
  </div>
<p></p>

<p>
  <strong>Identity:</strong>
  <%= @reference.identity.chinese_name %>
</p>

<p>
  <strong>Fullname:</strong>
  <%= @reference.fullname %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @reference.mobile %>
</p>

<p>
  <strong>Relationship:</strong>
  <%= @reference.relationship %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @reference.company_name %>
</p>

<p>
  <strong>Company url:</strong>
  <%= @reference.company_url %>
</p>

<p>
  <strong>Position:</strong>
  <%= @reference.position %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @reference.verified %>
</p>

<p>
  <strong>Note:</strong>
  <%= @reference.note %>
</p>

<p>&nbsp;</p>

<% if @reference.user.identity.id != @reference.identity_id && current_user.level > 79 %>
  <div>
    <h4>verified by </h4>
    <%= @reference.user.identity.chinese_name %>
  </div>
<% end %>
</div>
<p>&nbsp;</p>
</div>
