/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *#FFF5FC
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';
@import 'bootstrap/theme';

$lightpink: #A4E8FC;
$lightpink1: #F8E0E6;
$lightpink2: white;


$lightgreen: #EFFBFB;
$lightgreen2: #E0F8F7;
//from https://html-color-codes.info/


body {
  position: relative;
  font-size: 17px;
  //color: #000000;
	margin: 2px;
	padding: 2px;
  background-color: $lightpink;
}

.progress {
  background-image: linear-gradient(to bottom, #bbb 0%, #ccc 100%)
}

.well {
  h2 {
    margin-top: 0;
  }
}

#notice {
	color: green;
	margin: 0px;
	padding: 0px;

}

#alert {
  color: red;
  margin: 0px;
  padding: 0px;
}

#error_explanation {
	display: block;
	max-width: 450px;
}

#error_messages {
	margin: 0px;
	padding-left: 10px;
	max-width: 450px;
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #EBFA10;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;

    a {
      color: #000;
      display: block;
      padding: 3px;
    }

    a.ui-state-hover, a.ui-state-active {
      background-color: none;
      //#0AF926;
    }
  }
}

.ui-helper-hidden-accessible {
  position: fixed;
  left: 0px;
  top: 0px;
  display: block;
  background-color: green;

}

// table  {
//   //margin: 0px;
//   width: 100%;
//   margin-top: 10px;
//   padding: 0px;
//   //border: 1px solid red;
//
//}
//
tr {
  margin: 0px;
  padding: 0px;
}
//
td {
  //border: 1px solid red;
  //font-size: 16px;
  margin: 5px;
  padding: 5px;
}

// img {
//
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
// }

.dropup {
  position: fixed;
  margin: 0px;
  padding: 0px;
  //right: 0px;
  bottom: 0px;
  display: block;
}

.dropdown-toggle {
  //background-color: $lightpink;
  background: none;
  margin: 0px;
  padding: 0px;
  opacity: 1;
}
/*
.dropdown-menu {
  //left: -100px;
  width: 130px;
  margin: 1px;
  padding: 0px;
  background-color: #FF99FF;
}
*/

.dropdown-menu {
  left: -80px;
  top: 30px;
  width: 265px;
}


.bottom-menu {
  width: 100%;

  position: fixed;
  margin: 0px;
  padding: 0px;
  bottom: 0px;
  //display: block;
  border: none;
}

.top-menu {
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0px;
  left: 0px;

  margin: 0px;
  padding: 0px;
  bottom: 0px;
  display: block;
  background-color: white;
  opacity: 1;
  z-index: 89;
}

#full {
  width: 100%;

}
//

// #individual-menu {
//   height: 200px;
// }

#back {
  position: relative;
  left: 100px;

}

#submit {
  position: relative;
  left: 100px;
}

#modalfooter {
  width: 100px;
  margin: auto;
}

button {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.banner-message {
  display: none;
}

.img-circle {
  margin: 0px;
  padding: 0px;
  //border-style: solid;
  //border-width: thin;
  //border-color: red;
  // width: 20px;
  // height: 20px;
}

#top_table {
  width: 100%;
  height: 5%;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 99;
  //border: 1px solid;
  //border-color: red;
  background-color: $lightpink2;
  opacity:0.9;
  margin: 0px;
  padding: 10px;
}

.top {
  position: relative;
  top: 0px;
  margin: 0px;
  padding: 0px;
}

.row {
  position: relative;
  top: 20px;
  margin-bottom: 15px;
}

.yield {
  position: relative;
  top: 15px;

}

#index-card {
  background-color: $lightpink2;

  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;

  padding: 3px;
  border-radius: 8px;
}

#emphasized-date {

  font-weight: bold;
  //color: green;
}

#note {
  font-size: 20px;
  font-weight: bolder;
  //color: purple;
}

#data-entry {
  font-weight: bold;
  font-size: 18px;
}

#male {
  margin: 0px;
  padding: 2px;

  border-style: solid;
  border-width: thin;
  border-color: black;
}

#female {
  margin: 0px;
  padding: 2px;
  border-style: solid;
  border-width: thin;
  border-color: red;
}

#right {
  float: right;
}

// #testText {
//
//   opacity: 0;
//   width: 0px;
//   //text in input form for making up the avatar
// }
// canvas {
//   width: 30px;
//   height: 30px;
//   border-radius: 15px;//one-half of the width
//
// }

// canvas.mini {
//   width: 30px;
//   height: 30px;
//   border-radius: 25px;
//
// }
#question {
  color: black;
  background-color: white;
}

#answer {
  color: white;
  background-color: black;
}

#menu-font {
  color: black;
  font-size: 8px;
}

.content-box {
  position: inherit;
  margin: 2px;
    top: 0px;
    left: 0px;
}

#menu-link {
  margin: 8px;
}
#opt {
  opacity: .2;
}
#link-color {
  color: red;
}
#page-title {
  width: 100%;
  margin: 0px;
  padding: 3px;
  font-size: 22px;
  font-weight: bold;
  //background-color: white;
  border-radius: 3px;
}
#new-button {
  background-color: $lightpink1;
  //margin: 0px;
  padding: 3px;
  width: 100%;
  border-radius: 3px;
  border: solid;
  border-width: thin;
}
#time-ago {

  font-size: 12px;
}
#poll-total {
  font-size: 14px;
}
#forward-poll {
  background-color: $lightpink1;
  //margin: 0px;
  padding: 3px;
  width: auto;
  border-radius: 3px;
  border: solid;
  border-width: thin;
}
#forward-detail {
  background-color: white;
  //margin: 0px;
  padding: 3px;
  width: auto;
  border-radius: 3px;
  border: solid;
  border-width: thin;
}
#poll-topic {
  font-size: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#hint {
  font-size: 12px;
}
.form-group {
  left: 0px;
}
.links {
  font-size: 14px;
}

hr {

  display: block;
  //margin-top: 0.5em;
  //margin-bottom: 0.5em;
  //margin-left: auto;
  //margin-right: auto;
  //border-style: inset;
  border-color: black;
  border-width: 1px;
}
a:link {
  color: black;
}
/* visited link */
a:visited {
  color: black;
}
#score {
  font-weight: bold;
}
#image-holder {
  opacity: 0.5;
}
#bold {
  font-weight: bolder;
  //font-size: 30px;
}

#name {
  font-weight: bolder;
  font-size: 16px;
}
.collection_radio_buttons {
  font-size: 14px;
  font-weight: normal;
}
#form-label {
  font-size: 18px;
  font-weight: bold;
}

#forum-text {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1px;
}
.forum-show-text {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1px;
}
#image-fit {
  //max-width: 300px;
  overflow: auto;
}
