<p>Welcome欢迎您 <%= @email %>!</p>

<p>You have received this email because you have registered this email address with our DSDS website. If you don't know what DSDS is or you think it is a error, please ignore this email.</p>

<p>您收到这封邮件是因为您用这个电子邮件信箱，在 DSDS 网站上登记了．如果您不认识DSDS 网站，又或者是个误会，请忽約这封邮件．</p>

<p>Please confirm your account email through the link below请点击以下的链接以验证您用来登记的电子邮件信箱:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Thank you谢谢您！</p>
