<%= simple_form_for(@expense) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :identity %>
    <%= f.input :amount %>
    <%= f.association :business %>
    <%= f.input :source %>
    <%= f.input :etype %>
    <%= f.input :due_date %>
    <%= f.input :expiration_date %>
    <%= f.input :note %>
    <%= f.input :approved %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
