<div class="content-box">

  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

<div id="page-title">Editing Expense审批花费</div>

  <div id="index-card">
    <div>
      <%= @expense.identity.chinese_name %>
    </div>

    <div>

      <%= image_tag'icons/yuan.png', width: '15', height: '15', title: '返回', rel: 'tooltip' %><%= @expense.amount %>
    </div>
  </div>
<p>&nbsp;</p>
  <%= simple_form_for(@expense) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">


      <%= f.input :note, label: false, placeholder: "Details详情" %>
      <%= f.input :approved, label: "Approved审批通过" %>

      <%= f.hidden_field :user_id, :value => current_user.id %>
    </div>

    <%= f.button :button do %>
      Submit提交！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "Submit提交!" %>
    <% end %>
  <% end %>


</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
