
<% if current_user.level > 19 %>
<div class="content-box">

<div id="page-title">Expenses花费支出</div>

<p></p>
<div id="index-card">
  <div>Total Approved Expense：<%= image_tag('icons/dollar.png', width: '20', height: '20', title: '更多菜单', rel: 'tooltip') %><%= $expense_sum_dollar %> dollars</div>
  <div>总共授权的公司花费：<%= image_tag('icons/yuan.png', width: '20', height: '20', title: '更多菜单', rel: 'tooltip') %><%= $expense_sum %> 人民币</div>
  <div>Exchange Rate汇率：<%= image_tag('icons/dollar.png', width: '20', height: '20', title: '更多菜单', rel: 'tooltip') %>1 dollar美元 = <%= image_tag('icons/yuan.png', width: '20', height: '20', title: '更多菜单', rel: 'tooltip') %>6.8 Chinese Yuan人民币</div>
<!--xe.com for exchange rate-->

</div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>日期</th>

        <th>Identity</th>
        <th>Amount</th>

        <th>Due date</th>

        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @expenses.each do |expense| %>
        <tr>
          <td><%= (expense.created_at).strftime("%Y-%m-%d") %></td>

          <td><%= expense.identity.chinese_name %></td>
          <td>
            <% if expense.identity_id == current_user.identity.id %>

              <span id="bold"><%= image_tag('icons/yuan.png', width: '20', height: '20', title: '更多菜单', rel: 'tooltip') %><%= link_to expense.amount, expense %></span>
            <% else %>
              <span id="bold"><%= image_tag('icons/yuan.png', width: '20', height: '20', title: '更多菜单', rel: 'tooltip') %><%= link_to expense.amount, expense %></span>
            <% end %>
          </td>


          <td><%= expense.due_date %></td>


          <td>
            <% if expense.approved == true %>
              <%= image_tag('icons/yes-red-outline.png', width: '30', height: '30', title: '更多菜单', rel: 'tooltip') %>
            <% elsif expense.approved == false %>
              <%= image_tag('icons/no-red-outline.png', width: '30', height: '30', title: '更多菜单', rel: 'tooltip') %>
            <% else %>
              <%= image_tag('icons/question-mark-red-outline.png', width: '30', height: '30', title: '更多菜单', rel: 'tooltip') %>
            <% end %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="bottom-menu">
    <table id="full">
      <tr>
        <td width = "20%">
        </td>

        <td width = "20%">
        </td>

        <td width = "20">
            <%= link_to image_tag('icons/expense-plus-filled.png', width: '35', height: '35', title: '设立项目', rel: 'tooltip'), :controller=>"expenses", :action=>"new", :id=>current_user.identity.id %><div id="menu-font">花费报账</div>
        </td>

        <td width = "20%">
        </td>

        <td width = "20%">
        </td>
      </tr>
    </table>
  </div>


</div>
<% else %>
  <div>No Access!</div>
<% end %>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
