<div class="content-box">

<div>
  <table id="full">
    <tr>
      <td width = "20%">
        <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
      </td>

      <td width = "20%">

      </td>

      <td width = "20">

      </td>

      <td width = "20%"></td>

      <td width = "20%"></td>
    </tr>

  </table>
</div>

<p></p>

<div id="page-title">支出报销Expense</div>

<%= simple_form_for(@expense) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :identity_id, :value => current_user.identity.id %>
    <%= f.hidden_field :user_id, :value => '1' %>
    
    <%= f.input :amount, label: false, placeholder: "Amount数目"  %>

    <%= f.association :business, label: false, prompt: "company name公司名称" %>

    <%= f.input :source, label: false, prompt: "for为谁", collection: [ "Individual个人", "Management Team管理团队", "Company整个公司" ] %>

    <%= f.input :etype, label: false, prompt: "type类别", collection: [ "Server Rental服务器租赁", "Design Outsource设计外包", "Intellectual Property知识产权", "background Service背景调查", "Mailing & Printing邮资印刷" ] %>
    <%= f.input :due_date, label: 'Due Date付款到期' %>
    <%= f.input :expiration_date, label: 'Service Ends服务到期' %>
    <%= f.input :note, label: false, placeholder: "Details请详细解释..." %>
    <span class="pic">
      <%#= f.input :picture %>
      <%= f.input :picture, label: 'Upload photo上传照片', accept: 'image/jpeg,image/gif,image/png' %>
      <%#= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      <!-- if accept: 'image/jpeg,image/gif,image/png' is for checking file format on client side, it does not work -->
    </span>


  </div>

  <%= f.button :button do %>
    Submit提交！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "Submit提交!" %>
  <% end %>
<% end %>

<p>&nbsp;</p>

<div id="index-card">

  <h3>常见问题回答：</h3>
  <p>
    问：发现填写数据错误，可以删除吗？</br>
    答：在１小时之内，可以自由删除并且重新填写。
  </p>
  <p>
    问：所有的信息都会被其他同事看见吗？</br>
    答：第一个部分的信息可以被其他同事看见。第二个部分的信息仅自己可见．
  </p>

  <p></p>
</div>

<div class="bottom-menu">
  <table id="full">
    <tr>
      <td width = "20%">
      </td>

      <td width = "20%">
      </td>

      <td width = "20">
          <%= link_to image_tag('icons/handshake-plus-filled.png', width: '35', height: '35', title: '设立项目', rel: 'tooltip'), new_business_path %><div id="menu-font">添加公司</div>
      </td>

      <td width = "20%">
      </td>

      <td width = "20%">
      </td>
    </tr>
  </table>
</div>

</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<script type="text/javascript">
  $('#expense_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 1) {
      alert('Maximum file size is 1MB. Please choose a smaller file.');
    }
  });
</script>
<!--this is to validate on client side.-->
