<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

  <div id="page-title">Expense报销花费</div>
  <div id="index-card">

    <table>
      <tr>
        <td width="20%">
          <%= image_tag @expense.identity.resume.photo.url, class: "img-circle", width: "30" if @expense.identity.resume.photo? %>
        </td>
        <td width="20%">
          <%= link_to @expense.identity.chinese_name, :controller => 'identities', :action => 'show', :id => @expense.identity.id %>
        </td>
        <td width="20%"></td>
        <td width="20%"></td>
        <td width="20%">
          <% if @expense.approved == true %>
            <%= image_tag('icons/yes-red-outline.png', width: '30', height: '30', title: '更多菜单', rel: 'tooltip') %>
          <% elsif @expense.approved == false %>
            <%= image_tag('icons/no-red-outline.png', width: '30', height: '30', title: '更多菜单', rel: 'tooltip') %>
          <% else %>
            <%= image_tag('icons/question-mark-red-outline.png', width: '30', height: '30', title: '更多菜单', rel: 'tooltip') %>
          <% end %>
        </td>
      </tr>
    </table>

    <p>
      <strong>Amount:</strong>
      <%= @expense.amount %>
    </p>

    <p>
      <strong>Source:</strong>
      <%= @expense.source %>
    </p>

    <p>
      <strong>Etype:</strong>
      <%= @expense.etype %>
    </p>

    <p>
      <strong>Due date:</strong>
      <%= @expense.due_date %>
    </p>

    <p>
      <strong>Expiration date:</strong>
      <%= @expense.expiration_date %>
    </p>

    <p>
      <strong>Note:</strong>
      <%= @expense.note %>
    </p>

  <% if current_user.level > 89 %>
    <div>
      <%= @expense.business.name %>
    </div>
    <!-- <div id="image-fit"> -->
    <div>
      <%= image_tag @expense.picture.url, width: '100%', height: '100%' if @expense.picture? %>
    </div>
  <% end %>
</div><!--index-card ends-->
  <p>&nbsp;</p>

  <div class="bottom-menu">
    <table id="full">
      <tr>
        <td width = "20%">
        </td>

        <td width = "20%">
        </td>

        <td width = "20">

              <div class="btn-group dropup">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div><%= image_tag('icons/plus-filled.png', width: '35', height: '35', title: '更多菜单', rel: 'tooltip') %></div>

                </button>

                <div class="dropdown-menu">
                  <div>
                    <%= link_to image_tag('icons/expense-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), expenses_path %> <%= link_to 'All Expenses全部花费', expenses_path %>
                  </div>
                  <div>
                    <% if current_user.level > 89 && @expense.approved != true %><%= link_to image_tag('icons/forward-arrow-filled.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), edit_expense_path(@expense) %> <%= link_to 'Approve审批花费', edit_expense_path(@expense) %><% end %>
                  </div>
                  <div>

                  </div>

                  <div>

                    <% if @expense.approved != true && current_user.identity.id == @expense.identity_id %><%= link_to image_tag('icons/trash-filled.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), @expense, method: :delete, data: { confirm: '确定删除吗？' } %> <%= link_to 'Delete删除?', @expense, method: :delete, data: { confirm: '确定删除吗？' } %><% end %>
                  </div>

                </div>
              </div>
        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

    <p></p>

    <div id="index-card">

      <h3>常见问题回答：</h3>
      <p>
        问：发现填写数据错误，可以删除吗？</br>
        答：在１小时之内，可以自由删除并且重新填写。
      </p>
      <p>
        问：所有的信息都会被其他同事看见吗？</br>
        答：第一个部分的信息可以被其他同事看见。第二个部分的信息仅自己可见．
      </p>

      <p></p>
    </div>

  </div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>

  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
