<%= simple_form_for(@resume) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :identity %>
    <%= f.input :cover_letter %>
    <%= f.input :resume %>
    <%= f.input :vow %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
