<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

  <div id="page-title">Resumes</div>

<p></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>photo</th>
      <th>name</th>

      <th>Email</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resumes.each do |resume| %>
      <tr>
        <td><%= image_tag resume.photo.url, class: "img-circle", width: "30" if resume.photo? %></td>
        <td><%= resume.identity.chinese_name %></td>
        <td><%= resume.identity.user.email %></td>

        <td>
          <% if current_user.level > 19 %>
            <%= link_to 'Show', resume %>
          <% end %>
        </td>
        <td><%#= link_to 'Edit', edit_resume_path(resume) %></td>
        <td><%#= link_to 'Destroy', resume, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
