<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"></td>
      </tr>

    </table>
  </div>

  <div id="page-title">New Resume添加简历</div>

<%= simple_form_for(@resume) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.hidden_field :identity_id, :value => params[:id] %>
    <%= f.input :cover_letter, label: false, placeholder: "cover letter求职信" %>

    <%= f.input :resume, label: false, placeholder: "resume简历" %>

    <%= f.input :photo, label: 'passport photo only, 4 inches or 290px, 护照照片长宽４英寸或者２９０px', accept: 'image/jpeg,image/gif,image/png' %>

    <p></p>
      <div>
          I vow what I have submited is all true.我宣誓上传的都是真实的信息．
      </div>

    <%= f.input :vow, label: 'You must check and accept here!必须在此打钩！' %>


  </div>

  <%= f.button :button do %>
    Submit提交！ <%= image_tag "icons/forward-arrow-filled.png", :size => '25x25', :title => "Submit提交!" %>
  <% end %>
<% end %>

<p>&nbsp;</p>

<div id="index-card">

  <h3>常见问题回答：</h3>

  <p>
    Q: I have missed one field, it did not go through. However, it cannot accept my submit anymore</br>
    A: please use the home button above for creating a new record again.
  </p>
  <p>
    问：所有的信息都会被其他同事看见吗？</br>
    答：第一个部分的信息可以被其他同事看见。第二个部分的信息仅自己可见．
  </p>

  <p></p>
</div>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
