<div class="content-box">
  <div>
    <table id="full">
      <tr>
        <td width = "20%">
          <%= link_to image_tag('icons/back-arrow-filled.png', width: '30', height: '30', title: '返回', rel: 'tooltip'), 'javascript:history.back()' %><div id="menu-font">返回上页</div>
        </td>

        <td width = "20%">

        </td>

        <td width = "20">

        </td>

        <td width = "20%"></td>

        <td width = "20%"><%= link_to image_tag('icons/ID-one-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller => 'identities', :action => 'show', :id => @resume.identity.id %></td>
      </tr>

    </table>
  </div>


<div id="page-title">Resume个人简历</div>
  <div id="index-card">
    <div>
      <%= time_ago_in_words(@resume.created_at) %>以前，
    </div>
    <p></p>
    <div><%= @resume.identity.chinese_name %></div>
    <p></p>

    <div>
      <%= image_tag @resume.photo.url, width: '290', height: '290' if @resume.photo? %>
    </div>

    <div>
      <strong>目前的状况:</strong>
      <%= @resume.identity.status %>
    </div>
  </div>
  <p>&nbsp;</p>
<!-- beginning, current_user sees his/her own menu -->

<div id="page-title">Hiring Process招聘过程</div>
<p></p>

<% if current_user.identity.id == @resume.identity_id %> <!--1-->
  <div id="index-card">

    <div>1/7．You have submited your applicaiton. 您的申请信息已经提交．<%= link_to image_tag('icons/eye-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller=>"identities", :action=>"show", :id=>@resume.identity.id %></div>
  <% if @resume.identity.status == "unverified尚未验证" %><!--2-->
    <div>Thank you for your application! HR is verifying your information...谢谢申请！人力资源部正在确认您的意向和信息．．．</div>

  <% elsif @resume.identity.status == "verified已经验证" %><!--2-->

    <% if @resume.identity.interview.nil? %><!--3-->
      <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your application has been verified. Thank you! 您申请的信息和意向已经得到验证．非常感谢！</div>
      <div>2/7．Please wait for interview...请耐心等待的面试通知...</div>
    <% elsif @resume.identity.interview.passed != true %><!--3-->
      <div>2/7．Please wait for the interview result.请耐心等待面试结果．．．谢谢！</div>
    <% elsif @resume.identity.interview.passed == true %><!--3-->
      <div>2/7. Congratulations! You have passed the interview.恭喜了！您已经通过面试！</div>

      <% if @resume.identity.reference.nil? %><!--4-->

        <div>
        3/7. Please submit reference.请填写介绍人信息 <%= link_to image_tag('icons/forward-arrow-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller=>"references", :action=>"new", :id=>@resume.identity.id %></div>
      <% else %><!--4-->
        <% if @resume.identity.reference.verified == true %><!--5-->
          <div>3/7. Your reference has been verified.您的介绍人信息已经被确认．<%= link_to image_tag('icons/eye-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller=>"references", :action=>"show", :id=>@resume.identity.reference.id %></div>

          <% if @resume.identity.background.nil? %><!--6-->
            <div>4/7. Please submit background inforamtion.请填写背景信息 <%= link_to image_tag('icons/forward-arrow-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller=>"backgrounds", :action=>"new", :id=>@resume.identity.id %></div>

          <% elsif @resume.identity.background.verified == true %><!--6-->
            <div>
              4/7. background has been verified.背景信息已经被验证．<%= link_to image_tag('icons/eye-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller=>"backgrounds", :action=>"show", :id=>@resume.identity.background.id %>
            </div>

            <% if @resume.identity.offer.nil? %><!--7-->
              <div>5/7. Please wait for offer...请耐心等待录取通知．</div>
            <% elsif @resume.identity.offer.accepted == true %><!--7-->
              <div>5/7. You have accepted the offer.您已经接受了录取．<%= link_to image_tag('icons/eye-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller=>"offers", :action=>"show", :id=>@resume.identity.offer.id %></div>

              <% if @resume.identity.enrollment.nil? %><!--8-->
                <div>6/7. submit enrollment.请填写入职信息. <%= link_to image_tag('icons/forward-arrow-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller=>"enrollments", :action=>"new", :id=>@resume.identity.id %></div>
              <% elsif @resume.identity.enrollment.approved == true %><!--8-->
                <div>6/7. enrollment is approved.入职信息已经被验证．<%= link_to image_tag('icons/eye-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller=>"enrollments", :action=>"show", :id=>@resume.identity.enrollment.id %></div>
                <div>7/7. Please wait for upgrading to partner security level...请耐心等待安全系数升级．．．</div>
              <% else %><!--8-->
                <div>6/7. Please wait for enrollment approved. 请耐心等待入职信息得到验证．</div>
              <% end %><!--8-->

            <% else %><!--6-->
              5/7. Congratulation! You got an offer. Accept your offer? 恭喜！您得到了录取！接受录取吗？<%= link_to image_tag('icons/forward-arrow-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller=>"offers", :action=>"edit", :id=>@resume.identity.offer.id %>
            <% end %><!--7-->

          <% else %><!--6-->
            <div>4/7. Please wait until your background information has been verified... 请耐心等待您的背景信息得到确认．．．
          <% end %><!--6-->

        <% else %><!--5-->
          <div>3/7. Please wait for reference get verified.请耐心等待介绍人信息得到确认．．．</div>
        <% end %><!--5-->

      <% end %><!--4-->

    <% end %><!--3-->

  <% else %><!--2-->
  <div>7/7. The hiring process has already been finished. 招聘过程已经结束．
    <% if @resume.identity.user.level == 15 %><!--2a-->
    　Congratulations! Your role has been upgraded. Please wait for security level upgrade. 恭喜！您已经被升级为＂<%= @resume.identity.status %>＂！请等待您权限的升级．．．
    <% else %>
    <div>Your security level您的安全系数：<%= @resume.identity.user.level %></div>
    <% end %><!--2a-->
  </div>
  <% end %><!--2-->
</div><!--user's own index-card ends-->
<!-- ending, current_user sees his/her own menu -->

<!-- beginning, user with level >79 sees menu -->
<% elsif current_user.identity.id != @resume.identity_id && current_user.level > 79 %><!--1-->
  <div id="index-card">
    <div>1/7．Her/His application information is submited. 她他的申请信息已经提交．<%= link_to image_tag('icons/eye-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller=>"identities", :action=>"show", :id=>@resume.identity.id %></div>
  <% if @resume.identity.status == "unverified尚未验证" %><!--a-->
    <div>1/7．Please verify applicant's information.请确认申请人提交的信息 <%= link_to image_tag('icons/forward-arrow-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller=>"identities", :action=>"edit", :id=>@resume.identity.id %></div>

  <% elsif @resume.identity.status == "verified已经验证" %><!--a-->

    <% if @resume.identity.interview.nil? %><!--b-->
      <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The application has been verified.申请人的信息和意向已经被验证．</div>
      <div>2/7．After interview, please evaluate...在面试之后，人力资源部评分面试项目. <%= link_to image_tag('icons/forward-arrow-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller=>"interviews", :action=>"new", :id=>@resume.identity.id %></div>
    <% elsif @resume.identity.interview.passed != true %><!--b-->
      <div>2/7．The interview is completed. If passed,面试项目已经完成．如果合格，请确认面试通过．．． <%= link_to image_tag('icons/forward-arrow-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller=>"interviews", :action=>"edit", :id=>@resume.identity.interview.id %></div>

    <% elsif @resume.identity.interview.passed == true %><!--b-->
      <div>2/7．The interview is passed.申请人已经通过了面试. <%= link_to image_tag('icons/eye-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller=>"interviews", :action=>"show", :id=>@resume.identity.interview.id %></div>

      <div>
        <% if @resume.identity.reference.nil? %><!--c-->
          <div>3/7．Please wait for the reference.请耐心等待申请人填写介绍人信息．．.</div>
        <% elsif @resume.identity.reference.verified != true %><!--c-->
          <div>3/7. Please verify the reference.请确认介绍人信息. <%= link_to image_tag('icons/forward-arrow-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller=>"references", :action=>"edit", :id=>@resume.identity.reference.id %></div>
        <% elsif @resume.identity.reference.verified == true %><!--c-->
          3/7. The reference got verified.已经确认了介绍人信息. <%= link_to image_tag('icons/eye-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller=>"references", :action=>"show", :id=>@resume.identity.reference.id %>
          <div>
            <% if @resume.identity.background.nil? %><!--d-->
              <div>4/7. Please wait for background information.请耐心等待申请人填写背景信息．．．</div>
            <% elsif @resume.identity.background.verified == true %><!--d-->
              <div>
                4/7. Her/His background has been verified.她他的背景信息已经被验证．<%= link_to image_tag('icons/eye-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller=>"backgrounds", :action=>"show", :id=>@resume.identity.background.id %>
              </div>

              <div>
                <% if @resume.identity.offer.nil? %><!--e-->
                  <div>5/7. new offer发录取通知？<%= link_to image_tag('icons/forward-arrow-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller=>"offers", :action=>"new", :id=>@resume.identity.id %></div>

                <% elsif @resume.identity.offer.accepted == true %><!--e-->
                  <div>
                    5/7. offer is accepted.申请人已经接受录取．<%= link_to image_tag('icons/eye-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller=>"offers", :action=>"show", :id=>@resume.identity.offer.id %>
                  </div>

                    <% if @resume.identity.enrollment.nil? %><!--f-->
                      <div>6/7. Please wait for applicant's enrollment．．．请耐心等待申请人的入职信息．．．</div>

                    <% elsif @resume.identity.enrollment.approved == true %><!--e-->
                      <div>6/7. her/his enrollment has already been verified. 入职信息已经被验证．<%= link_to image_tag('icons/eye-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller=>"enrollments", :action=>"show", :id=>@resume.identity.enrollment.id %></div>

                      <div>7/7. Please update her/him role in our company.请更新她他的角色．<%= link_to image_tag('icons/forward-arrow-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller=>"identities", :action=>"edit", :id=>@resume.identity.id %></div>
                    <% else %><!--f-->
                      <div>6/7. Approve enrollment? 验证申请人入职信息? <%= link_to image_tag('icons/forward-arrow-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller=>"enrollments", :action=>"edit", :id=>@resume.identity.enrollment.id %></div>
                    <% end %><!--f-->
                  <div></div>

                <% else %><!--e-->
                  <div>5/7. Please wait until applicant has accepted offer.请耐心等待申请人接受录取通知．</div>
                <% end %><!--e-->
              </div>

            <% else %><!--d-->
              <div>4/7. Please to verify her/his background information.请确认申请人的背景信息. <%= link_to image_tag('icons/forward-arrow-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller=>"backgrounds", :action=>"edit", :id=>@resume.identity.background.id %></div>
            <% end %><!--d-->
          </div>
        <% else %><!--c-->
          <div>Please approve her/his references. 请验证她他的介绍人． <%= link_to image_tag('icons/forward-arrow-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller=>"references", :action=>"edit", :id=>@resume.identity.references.first.id %></div>
        <% end %><!--c-->
      </div>
    <% end %><!--b-->

  <% else %><!--a-->
    7/7. The hiring process is over.招聘过程已经结束．
    <% if @resume.identity.user.level == 15 %><!---->
    The security level is此用户的安全权限是 <%= @resume.identity.user.level %>．Please wait for upgrade请等待管理组的更新．．．
    <% else %>
      <div>Her/his security level您的安全系数：<%= @resume.identity.user.level %></div>
    <% end %><!--a-->

  <% end %><!--a-->
<!-- ending, user with level >79 sees menu -->

<% else %><!--1-->
  <!--nothingness-->
<% end %><!--1-->
</div><!--level>79 index-card ends-->

<p>&nbsp;</p>

<div id="index-card">

  <%= @resume.cover_letter %>
</div>

<div id="index-card">
  <%= @resume.resume %>
</div>

<p>&nbsp;</p>

<div id="index-card">

  <h3>常见问题回答：</h3>
  <p>
    Q: Can I delete my record?</br>
    A: Yes within one hour after you have created it.
  </p>
  <p>
    问：咱刚刚填写的个人身份信息，可以删除吗？</br>
    答：在１小时之内，可以自由删除并且重新填写。
  </p>
  <p>
    问：咱能不能删除自己“已经验证”的个人身份信息？</br>
    答：目前暂时还没有此功能。
  </p>
  <p>
    问：个人身份信息在“已经验证”以后，咱会有哪些权限？</br>
    答：一，为加入您自己的小区创造了条件。二，您可以“关注”她他人，即使她他并不是您自己的小区里的邻居。
  </p>

  <p></p>
</div>

<div class="bottom-menu">
  <table id="full">
    <tr>
      <td width = "20%">
      </td>

      <td width = "20%">
      </td>

      <td width = "20">

            <div class="btn-group dropup">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div><%= image_tag('icons/plus-filled.png', width: '35', height: '35', title: '更多菜单', rel: 'tooltip') %></div>

              </button>

              <div class="dropdown-menu">
                <% if @resume.identity.id == current_user.identity.id %>
                  <div>
                    <%= link_to image_tag('icons/ID-one-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller=>"identities", :action=>"show", :id=>@resume.identity.id %> <%= link_to @resume.identity.chinese_name, :controller=>"identities", :action=>"show", :id=>@resume.identity.id %>
                  </div>
                <% elsif current_user.level > 19 %>
                  <div>
                    <%= link_to image_tag('icons/ID-one-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), :controller=>"identities", :action=>"show", :id=>@resume.identity.id %> <%= link_to @resume.identity.chinese_name, :controller=>"identities", :action=>"show", :id=>@resume.identity.id %>
                  </div>
                  <div>
                    <%= link_to image_tag('icons/ID-filled.png', width: '25', height: '25', title: '返回', rel: 'tooltip'), identities_path %> <%= link_to 'All Partners合伙同事', identities_path %>
                  </div>
                <% end %>

                <div>
                  <% if @resume.identity_id == current_user.identity.id && Time.zone.now - @resume.created_at < 3600 %><%= link_to image_tag('icons/trash-filled.png', width: '25', height: '25', title: '删除', rel: 'tooltip'), @resume, method: :delete, data: { confirm: 'Delete确定删除？' } %><%= link_to 'delete确定删除？', @resume, method: :delete, data: { confirm: 'Delete确定删除？' } %><% end %></td>

                  <!--1 is one second. 60*60*24 = 86400s/d, thus 3600 is one hour. The delete button cannot be shown after one hour. However, if a user stays on the same page, she or he can delete the record since the delete botton stays there-->
                </div>

              </div>
            </div>
      </td>

      <td width = "20%"></td>

      <td width = "20%"></td>
    </tr>

  </table>
</div>

</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
