<!DOCTYPE html>
<html>
  <head>
    <title>Hr</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <% if user_signed_in? && current_user.identity.nil? %><!--no menu if not sign_in -->
      <div class="top-menu">
        <table id="full">
          <tr>
            <td width = "20%">
              <div><%= link_to image_tag('icons/logo.png', width: '25', height: '25', title: '用户服务', rel: 'tooltip'), root_path %></div>
            </td>

            <td width = "20%">
            </td>
            <td width = "20%">
            </td>
            <td width = "20%">
            </td>
            <td width = "20%">
              <div class="btn-group dropleft">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  无名侠
                </button>
                <div class="dropdown-menu">
                  <!-- Dropdown menu links -->

                  <div id="menu-link"><%= link_to image_tag('icons/exit-filled.png', width: '25', height: '25', title: '登出', rel: 'tooltip'), destroy_user_session_path, method: :delete %> <%= link_to '登出', destroy_user_session_path, method: :delete %></div>

                 <div id="menu-link"><%= link_to image_tag('icons/headset-filled.png', width: '25', height: '25', title: '用户服务', rel: 'tooltip'), root_path %> <%= link_to "用户服务", root_path %></div>
                </div>
              </div>
            </td>
          </tr>

        </table>

        </div>


    <% elsif user_signed_in? %>

      <div class="top-menu">
        <table id="full">
          <tr>
            <td width = "20%">
              <div>
              <%= link_to image_tag('icons/logo.png', width: '25', height: '25', title: 'LOGO', rel: 'tooltip'), root_path %>
              </div>
            </td>

            <td width = "20%">
            </td>
            <td width = "20%">
            </td>
            <td width = "20%">

            </td>
            <td width = "20%">

              <div class="btn-group dropleft">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= current_user.identity.chinese_name %>
                </button>
                <div class="dropdown-menu">
                  <!-- Dropdown menu links -->

                  <div id="menu-link"><%= link_to image_tag('icons/exit-filled.png', width: '25', height: '25', title: '登出', rel: 'tooltip'), destroy_user_session_path, method: :delete %> <%= link_to '登出', destroy_user_session_path, method: :delete %></div>

                 <div id="menu-link" id="image-holder"><%#= link_to image_tag('icons/headset-filled.png', width: '25', height: '25', title: '用户服务', rel: 'tooltip'), root_path %> <%#= link_to "用户服务", root_path %></div>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <% end %><!--no menu if not sign_in -->

    <div class="row">
      <p>&nbsp;</p>
      <div class="col-md-1">
        <span id="notice" class="pull-left"><%= notice %></span>
        <span id="alert" class="pull-right"><%= alert %></span>
        <!---->
      </div>
    </div>

    <div class="yield">
      <%= yield %>

      <script>

      </script>
    </div>


  </body>
</html>
